src/config/webservice/wsdl/GDEUPBCommService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService/Schema" name="GDEUPBCommService" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService/Schema" schemaLocation="GDEUPBCommService.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="qryRptInfoRequestMessage">
    <wsdl:part name="qryRptInfoRequest" element="gdeupsb:qryRptInfo"/>
  </wsdl:message>
  <wsdl:message name="qryRptInfoResponseMessage">
    <wsdl:part name="qryRptInfoResponse" element="gdeupsb:qryRptInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="prtRptServiceRequestMessage">
    <wsdl:part name="prtRptServiceRequest" element="gdeupsb:prtRptService"/>
  </wsdl:message>
  <wsdl:message name="prtRptServiceResponseMessage">
    <wsdl:part name="prtRptServiceResponse" element="gdeupsb:prtRptServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="qryBatchInformationRequestMessage">
    <wsdl:part name="qryBatchInformationRequest" element="gdeupsb:qryBatchInformation"/>
  </wsdl:message>
  <wsdl:message name="qryBatchInformationResponseMessage">
    <wsdl:part name="qryBatchInformationResponse" element="gdeupsb:qryBatchInformationResponse"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPBCommServicePortType">
    <wsdl:operation name="qryRptInfo">
      <wsdl:documentation/>
      <wsdl:input message="tns:qryRptInfoRequestMessage"/>
      <wsdl:output message="tns:qryRptInfoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="prtRptService">
      <wsdl:documentation/>
      <wsdl:input message="tns:prtRptServiceRequestMessage"/>
      <wsdl:output message="tns:prtRptServiceResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="qryBatchInformation">
      <wsdl:documentation/>
      <wsdl:input message="tns:qryBatchInformationRequestMessage"/>
      <wsdl:output message="tns:qryBatchInformationResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPBCommServiceSoapBinding" type="tns:GDEUPBCommServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="qryRptInfo">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService/qryRptInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prtRptService">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService/prtRptService"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="qryBatchInformation">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService/qryBatchInformation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPBCommService">
    <wsdl:port name="GDEUPBCommServicePort" binding="tns:GDEUPBCommServiceSoapBinding">
      <soap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
