src/config/webservice/wsdl/GDEUPBCommService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService/Schema" xmlns:gsp="http://gsp.bankcomm.com" xmlns:bbip="http://bbip.bankcomm.com" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPBCommService/Schema" elementFormDefault="qualified">
  <xs:import namespace="http://gsp.bankcomm.com" schemaLocation="headerOfSOAP.xsd"/>
  <xs:import namespace="http://bbip.bankcomm.com" schemaLocation="headerOfBbip.xsd"/>
  <xs:element name="prtRptService" type="tns:prtRptServiceReq_CType"/>
  <xs:element name="prtRptServiceResponse" type="tns:prtRptServiceRsp_CType"/>
  <xs:complexType name="prtRptServiceReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:prtRptServiceRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prtRptServiceRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:prtRptServiceResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestHeader" type="tns:requestHeader_CType"/>
  <xs:element name="responseHeader" type="tns:responseHeader_CType"/>
  <xs:element name="sortingInfo" type="tns:sortingInfo_CType"/>
  <xs:element name="pageableRequest" type="tns:pageableRequest_CType"/>
  <xs:element name="pageableResponse" type="tns:pageableResponse_CType"/>
  <xs:element name="queryRspDisplayList" type="tns:queryRspDisplayList_CType"/>
  <xs:element name="customerInfo" type="tns:customerInfo_CType"/>
  <xs:element name="agentCollectAgreement" type="tns:agentCollectAgreement_CType"/>
  <xs:element name="updateAgentCollectAgreement" type="tns:updateAgentCollectAgreement_CType"/>
  <xs:complexType name="requestHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipRequestHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipResponseHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="property_SType">
    <xs:annotation>
      <xs:documentation>排序数据域</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="direction_SType">
    <xs:annotation>
      <xs:documentation>排序方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sortingInfo_CType">
    <xs:sequence>
      <xs:element name="property" type="tns:property_SType"/>
      <xs:element name="direction" type="tns:direction_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="pageNum_SType">
    <xs:annotation>
      <xs:documentation>页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="pageSize_SType">
    <xs:annotation>
      <xs:documentation>每页显示数据数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:complexType name="pageableRequest_CType">
    <xs:sequence>
      <xs:element name="pageNum" type="tns:pageNum_SType"/>
      <xs:element name="pageSize" type="tns:pageSize_SType"/>
      <xs:element ref="tns:sortingInfo" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="totalElements_SType">
    <xs:annotation>
      <xs:documentation>总记录数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:simpleType name="totalPages_SType">
    <xs:annotation>
      <xs:documentation>总页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:complexType name="pageableResponse_CType">
    <xs:sequence>
      <xs:element name="totalElements" type="tns:totalElements_SType"/>
      <xs:element name="totalPages" type="tns:totalPages_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="detailName_SType">
    <xs:annotation>
      <xs:documentation>明细名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="detailContent_SType">
    <xs:annotation>
      <xs:documentation>明细内容cusAc</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="queryRspDisplayList_CType">
    <xs:sequence>
      <xs:element name="detailName" type="tns:detailName_SType" minOccurs="0"/>
      <xs:element name="detailContent" type="tns:detailContent_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="agtCllCusId_SType">
    <xs:annotation>
      <xs:documentation>客户ID</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusTyp_SType">
    <xs:annotation>
      <xs:documentation>客户类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusNo_SType">
    <xs:annotation>
      <xs:documentation>客户号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusAc_SType">
    <xs:annotation>
      <xs:documentation>客户账号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusNme_SType">
    <xs:annotation>
      <xs:documentation>客户名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ccy_SType">
    <xs:annotation>
      <xs:documentation>币种</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="idTyp_SType">
    <xs:annotation>
      <xs:documentation>证件种类</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="idNo_SType">
    <xs:annotation>
      <xs:documentation>证件号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="drwMde_SType">
    <xs:annotation>
      <xs:documentation>支取方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bvCde_SType">
    <xs:annotation>
      <xs:documentation>凭证代码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bvNo_SType">
    <xs:annotation>
      <xs:documentation>凭证号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ourOthFlg_SType">
    <xs:annotation>
      <xs:documentation>本他行标志</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="obkBk_SType">
    <xs:annotation>
      <xs:documentation>开户行号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="customerInfo_CType">
    <xs:sequence>
      <xs:element name="agtCllCusId" type="tns:agtCllCusId_SType" minOccurs="0"/>
      <xs:element name="cusTyp" type="tns:cusTyp_SType"/>
      <xs:element name="cusNo" type="tns:cusNo_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="ccy" type="tns:ccy_SType"/>
      <xs:element name="idTyp" type="tns:idTyp_SType"/>
      <xs:element name="idNo" type="tns:idNo_SType"/>
      <xs:element name="drwMde" type="tns:drwMde_SType" minOccurs="0"/>
      <xs:element name="bvCde" type="tns:bvCde_SType" minOccurs="0"/>
      <xs:element name="bvNo" type="tns:bvNo_SType" minOccurs="0"/>
      <xs:element name="ourOthFlg" type="tns:ourOthFlg_SType" minOccurs="0"/>
      <xs:element name="obkBk" type="tns:obkBk_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="agdAgrNo_SType">
    <xs:annotation>
      <xs:documentation>协议编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="23"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="acoAc_SType">
    <xs:annotation>
      <xs:documentation>记账账号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="24"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pwd_SType">
    <xs:annotation>
      <xs:documentation>密码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="comNo_SType">
    <xs:annotation>
      <xs:documentation>单位编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="comNum_SType">
    <xs:annotation>
      <xs:documentation>单位名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="busTyp_SType">
    <xs:annotation>
      <xs:documentation>业务类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="busKnd_SType">
    <xs:annotation>
      <xs:documentation>业务种类</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="busKndNme_SType">
    <xs:annotation>
      <xs:documentation>业务种类名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusFeeDerFlg_SType">
    <xs:annotation>
      <xs:documentation>个人账户收费减免标志</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="agtSrvCusId_SType">
    <xs:annotation>
      <xs:documentation>代理服务客户标识</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="agtSrvCusPnm_SType">
    <xs:annotation>
      <xs:documentation>代理服务客户姓名</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="agrVldDte_SType">
    <xs:annotation>
      <xs:documentation>协议生效日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="agrExpDte_SType">
    <xs:annotation>
      <xs:documentation>协议失效日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="des1_SType">
    <xs:annotation>
      <xs:documentation>备注一</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="des2_SType">
    <xs:annotation>
      <xs:documentation>备注二</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="des3_SType">
    <xs:annotation>
      <xs:documentation>备注三</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="des4_SType">
    <xs:annotation>
      <xs:documentation>备注四</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="des5_SType">
    <xs:annotation>
      <xs:documentation>备注五</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="selId_SType">
    <xs:annotation>
      <xs:documentation>销售人员工号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="selNme_SType">
    <xs:annotation>
      <xs:documentation>销售人姓名</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rcoId_SType">
    <xs:annotation>
      <xs:documentation>推荐人员工号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rcoNme_SType">
    <xs:annotation>
      <xs:documentation>推荐人姓名</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pedAgrSts_SType">
    <xs:annotation>
      <xs:documentation>协议状态</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mkiEvtNo_SType">
    <xs:annotation>
      <xs:documentation>营销事件编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ageBr_SType">
    <xs:annotation>
      <xs:documentation>签约分行号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="agrBr_SType">
    <xs:annotation>
      <xs:documentation>签约网点号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="agrTlr_SType">
    <xs:annotation>
      <xs:documentation>签约柜员</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="athTlr_SType">
    <xs:annotation>
      <xs:documentation>授权柜员</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="agrTme_SType">
    <xs:annotation>
      <xs:documentation>签约时间</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="cmuTel_SType">
    <xs:annotation>
      <xs:documentation>联系电话</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eml_SType">
    <xs:annotation>
      <xs:documentation>电子邮箱</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="agentCollectAgreement_CType">
    <xs:sequence>
      <xs:element name="agdAgrNo" type="tns:agdAgrNo_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="acoAc" type="tns:acoAc_SType" minOccurs="0"/>
      <xs:element name="pwd" type="tns:pwd_SType" minOccurs="0"/>
      <xs:element name="bvCde" type="tns:bvCde_SType" minOccurs="0"/>
      <xs:element name="bvNo" type="tns:bvNo_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType"/>
      <xs:element name="comNum" type="tns:comNum_SType" minOccurs="0"/>
      <xs:element name="busTyp" type="tns:busTyp_SType"/>
      <xs:element name="busKnd" type="tns:busKnd_SType"/>
      <xs:element name="busKndNme" type="tns:busKndNme_SType" minOccurs="0"/>
      <xs:element name="ccy" type="tns:ccy_SType"/>
      <xs:element name="cusFeeDerFlg" type="tns:cusFeeDerFlg_SType"/>
      <xs:element name="agtSrvCusId" type="tns:agtSrvCusId_SType"/>
      <xs:element name="agtSrvCusPnm" type="tns:agtSrvCusPnm_SType" minOccurs="0"/>
      <xs:element name="agrVldDte" type="tns:agrVldDte_SType"/>
      <xs:element name="agrExpDte" type="tns:agrExpDte_SType"/>
      <xs:element name="des1" type="tns:des1_SType" minOccurs="0"/>
      <xs:element name="des2" type="tns:des2_SType" minOccurs="0"/>
      <xs:element name="des3" type="tns:des3_SType" minOccurs="0"/>
      <xs:element name="des4" type="tns:des4_SType" minOccurs="0"/>
      <xs:element name="des5" type="tns:des5_SType" minOccurs="0"/>
      <xs:element name="selId" type="tns:selId_SType" minOccurs="0"/>
      <xs:element name="selNme" type="tns:selNme_SType" minOccurs="0"/>
      <xs:element name="rcoId" type="tns:rcoId_SType" minOccurs="0"/>
      <xs:element name="rcoNme" type="tns:rcoNme_SType" minOccurs="0"/>
      <xs:element name="pedAgrSts" type="tns:pedAgrSts_SType" minOccurs="0"/>
      <xs:element name="mkiEvtNo" type="tns:mkiEvtNo_SType" minOccurs="0"/>
      <xs:element name="ageBr" type="tns:ageBr_SType" minOccurs="0"/>
      <xs:element name="agrBr" type="tns:agrBr_SType" minOccurs="0"/>
      <xs:element name="agrTlr" type="tns:agrTlr_SType" minOccurs="0"/>
      <xs:element name="athTlr" type="tns:athTlr_SType" minOccurs="0"/>
      <xs:element name="agrTme" type="tns:agrTme_SType" minOccurs="0"/>
      <xs:element name="cmuTel" type="tns:cmuTel_SType" minOccurs="0"/>
      <xs:element name="eml" type="tns:eml_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="agtSrvCusID_SType">
    <xs:annotation>
      <xs:documentation>代理服务客户标识</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="updateAgentCollectAgreement_CType">
    <xs:sequence>
      <xs:element ref="tns:agentCollectAgreement" minOccurs="1" maxOccurs="1"/>
      <xs:element name="agdAgrNo" type="tns:agdAgrNo_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType"/>
      <xs:element name="acoAc" type="tns:acoAc_SType" minOccurs="0"/>
      <xs:element name="pwd" type="tns:pwd_SType" minOccurs="0"/>
      <xs:element name="bvCde" type="tns:bvCde_SType" minOccurs="0"/>
      <xs:element name="bvNo" type="tns:bvNo_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType"/>
      <xs:element name="comNum" type="tns:comNum_SType" minOccurs="0"/>
      <xs:element name="busTyp" type="tns:busTyp_SType"/>
      <xs:element name="busKnd" type="tns:busKnd_SType"/>
      <xs:element name="busKndNme" type="tns:busKndNme_SType" minOccurs="0"/>
      <xs:element name="ccy" type="tns:ccy_SType"/>
      <xs:element name="cusFeeDerFlg" type="tns:cusFeeDerFlg_SType"/>
      <xs:element name="agtSrvCusID" type="tns:agtSrvCusID_SType"/>
      <xs:element name="agtSrvCusPnm" type="tns:agtSrvCusPnm_SType" minOccurs="0"/>
      <xs:element name="agrVldDte" type="tns:agrVldDte_SType"/>
      <xs:element name="agrExpDte" type="tns:agrExpDte_SType"/>
      <xs:element name="des1" type="tns:des1_SType" minOccurs="0"/>
      <xs:element name="des2" type="tns:des2_SType" minOccurs="0"/>
      <xs:element name="des3" type="tns:des3_SType" minOccurs="0"/>
      <xs:element name="des4" type="tns:des4_SType" minOccurs="0"/>
      <xs:element name="des5" type="tns:des5_SType" minOccurs="0"/>
      <xs:element name="selId" type="tns:selId_SType" minOccurs="0"/>
      <xs:element name="selNme" type="tns:selNme_SType" minOccurs="0"/>
      <xs:element name="rcoId" type="tns:rcoId_SType" minOccurs="0"/>
      <xs:element name="rcoNme" type="tns:rcoNme_SType" minOccurs="0"/>
      <xs:element name="mkiEvtNo" type="tns:mkiEvtNo_SType" minOccurs="0"/>
      <xs:element name="pedAgrSts" type="tns:pedAgrSts_SType" minOccurs="0"/>
      <xs:element name="ageBr" type="tns:ageBr_SType" minOccurs="0"/>
      <xs:element name="agrBr" type="tns:agrBr_SType" minOccurs="0"/>
      <xs:element name="agrTlr" type="tns:agrTlr_SType" minOccurs="0"/>
      <xs:element name="athTlr" type="tns:athTlr_SType" minOccurs="0"/>
      <xs:element name="agrTme" type="tns:agrTme_SType" minOccurs="0"/>
      <xs:element name="cmuTel" type="tns:cmuTel_SType" minOccurs="0"/>
      <xs:element name="eml" type="tns:eml_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prtRptServiceRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="prtDte" type="tns:prtDte_SType"/>
      <xs:element name="prtTyp" type="tns:prtTyp_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prtRptServiceResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eupsBusTyp_SType">
    <xs:annotation>
      <xs:documentation>EUPS业务类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="prtDte_SType">
    <xs:annotation>
      <xs:documentation>报表日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="prtTyp_SType">
    <xs:annotation>
      <xs:documentation>报表类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
