src/config/webservice/wsdl/GDEUPSPROF00Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/Schema" name="GDEUPSPROF00Service" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/Schema" schemaLocation="GDEUPSPROF00Service.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryPrintInvoiceRequestMessage">
    <wsdl:part name="queryPrintInvoiceRequest" element="gdeupsb:queryPrintInvoice"/>
  </wsdl:message>
  <wsdl:message name="queryPrintInvoiceResponseMessage">
    <wsdl:part name="queryPrintInvoiceResponse" element="gdeupsb:queryPrintInvoiceResponse"/>
  </wsdl:message>
  <wsdl:message name="invoiceCancelGrantManagerRequestMessage">
    <wsdl:part name="invoiceCancelGrantManagerRequest" element="gdeupsb:invoiceCancelGrantManager"/>
  </wsdl:message>
  <wsdl:message name="invoiceCancelGrantManagerResponseMessage">
    <wsdl:part name="invoiceCancelGrantManagerResponse" element="gdeupsb:invoiceCancelGrantManagerResponse"/>
  </wsdl:message>
  <wsdl:message name="invoiceReceiveManagerRequestMessage">
    <wsdl:part name="invoiceReceiveManagerRequest" element="gdeupsb:invoiceReceiveManager"/>
  </wsdl:message>
  <wsdl:message name="invoiceReceiveManagerResponseMessage">
    <wsdl:part name="invoiceReceiveManagerResponse" element="gdeupsb:invoiceReceiveManagerResponse"/>
  </wsdl:message>
  <wsdl:message name="invoiceInvalidManagerRequestMessage">
    <wsdl:part name="invoiceInvalidManagerRequest" element="gdeupsb:invoiceInvalidManager"/>
  </wsdl:message>
  <wsdl:message name="invoiceInvalidManagerResponseMessage">
    <wsdl:part name="invoiceInvalidManagerResponse" element="gdeupsb:invoiceInvalidManagerResponse"/>
  </wsdl:message>
  <wsdl:message name="invoiceUseManagerRequestMessage">
    <wsdl:part name="invoiceUseManagerRequest" element="gdeupsb:invoiceUseManager"/>
  </wsdl:message>
  <wsdl:message name="invoiceUseManagerResponseMessage">
    <wsdl:part name="invoiceUseManagerResponse" element="gdeupsb:invoiceUseManagerResponse"/>
  </wsdl:message>
  <wsdl:message name="invoiceGrantManagerRequestMessage">
    <wsdl:part name="invoiceGrantManagerRequest" element="gdeupsb:invoiceGrantManager"/>
  </wsdl:message>
  <wsdl:message name="invoiceGrantManagerResponseMessage">
    <wsdl:part name="invoiceGrantManagerResponse" element="gdeupsb:invoiceGrantManagerResponse"/>
  </wsdl:message>
  <wsdl:message name="checkTlrPasswdRequestMessage">
    <wsdl:part name="checkTlrPasswdRequest" element="gdeupsb:checkTlrPasswd"/>
  </wsdl:message>
  <wsdl:message name="invoiceCheckManagerRequestMessage">
    <wsdl:part name="invoiceCheckManagerRequest" element="gdeupsb:invoiceCheckManager"/>
  </wsdl:message>
  <wsdl:message name="invoiceCheckManagerResponseMessage">
    <wsdl:part name="invoiceCheckManagerResponse" element="gdeupsb:invoiceCheckManagerResponse"/>
  </wsdl:message>
  <wsdl:message name="atmInvDtlRequestMessage">
    <wsdl:part name="atmInvDtlRequest" element="gdeupsb:atmInvDtl"/>
  </wsdl:message>
  <wsdl:message name="atmInvDtlResponseMessage">
    <wsdl:part name="atmInvDtlResponse" element="gdeupsb:atmInvDtlResponse"/>
  </wsdl:message>
  <wsdl:message name="updateTlrPasswdRequestMessage">
    <wsdl:part name="updateTlrPasswdRequest" element="gdeupsb:updateTlrPasswd"/>
  </wsdl:message>
  <wsdl:message name="checkTlrInfRequestMessage">
    <wsdl:part name="checkTlrInfRequest" element="gdeupsb:checkTlrInf"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPSPROF00ServicePortType">
    <wsdl:operation name="queryPrintInvoice">
      <wsdl:documentation/>
      <wsdl:input message="tns:queryPrintInvoiceRequestMessage"/>
      <wsdl:output message="tns:queryPrintInvoiceResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="invoiceCancelGrantManager">
      <wsdl:documentation/>
      <wsdl:input message="tns:invoiceCancelGrantManagerRequestMessage"/>
      <wsdl:output message="tns:invoiceCancelGrantManagerResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="invoiceReceiveManager">
      <wsdl:documentation/>
      <wsdl:input message="tns:invoiceReceiveManagerRequestMessage"/>
      <wsdl:output message="tns:invoiceReceiveManagerResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="invoiceInvalidManager">
      <wsdl:documentation/>
      <wsdl:input message="tns:invoiceInvalidManagerRequestMessage"/>
      <wsdl:output message="tns:invoiceInvalidManagerResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="invoiceUseManager">
      <wsdl:documentation/>
      <wsdl:input message="tns:invoiceUseManagerRequestMessage"/>
      <wsdl:output message="tns:invoiceUseManagerResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="invoiceGrantManager">
      <wsdl:documentation/>
      <wsdl:input message="tns:invoiceGrantManagerRequestMessage"/>
      <wsdl:output message="tns:invoiceGrantManagerResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="checkTlrPasswd">
      <wsdl:input message="tns:checkTlrPasswdRequestMessage"/>
    </wsdl:operation>
    <wsdl:operation name="invoiceCheckManager">
      <wsdl:documentation/>
      <wsdl:input message="tns:invoiceCheckManagerRequestMessage"/>
      <wsdl:output message="tns:invoiceCheckManagerResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="atmInvDtl">
      <wsdl:documentation/>
      <wsdl:input message="tns:atmInvDtlRequestMessage"/>
      <wsdl:output message="tns:atmInvDtlResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="updateTlrPasswd">
      <wsdl:input message="tns:updateTlrPasswdRequestMessage"/>
    </wsdl:operation>
    <wsdl:operation name="checkTlrInf">
      <wsdl:input message="tns:checkTlrInfRequestMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPSPROF00ServiceSoapBinding" type="tns:GDEUPSPROF00ServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryPrintInvoice">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/queryPrintInvoice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invoiceCancelGrantManager">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/invoiceCancelGrantManager"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invoiceReceiveManager">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/invoiceReceiveManager"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invoiceInvalidManager">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/invoiceInvalidManager"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invoiceUseManager">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/invoiceUseManager"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invoiceGrantManager">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/invoiceGrantManager"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkTlrPasswd">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/checkTlrPasswd"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="invoiceCheckManager">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/invoiceCheckManager"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="atmInvDtl">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/atmInvDtl"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTlrPasswd">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/updateTlrPasswd"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="checkTlrInf">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/checkTlrInf"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPSPROF00Service">
    <wsdl:port name="GDEUPSPROF00ServicePort" binding="tns:GDEUPSPROF00ServiceSoapBinding">
      <soap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
