src/config/webservice/wsdl/GDEUPSBGasCoreService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/Schema" xmlns:gsp="http://gsp.bankcomm.com" xmlns:bbip="http://bbip.bankcomm.com" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/Schema" elementFormDefault="qualified">
  <xs:import namespace="http://gsp.bankcomm.com" schemaLocation="headerOfSOAP.xsd"/>
  <xs:import namespace="http://bbip.bankcomm.com" schemaLocation="headerOfBbip.xsd"/>
  <xs:element name="qryCusInfo" type="tns:qryCusInfoReq_CType"/>
  <xs:element name="qryCusInfoResponse" type="tns:qryCusInfoRsp_CType"/>
  <xs:complexType name="qryCusInfoReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:qryCusInfoRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryCusInfoRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:qryCusInfoResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vinGasCusAgent" type="tns:vinGasCusAgentReq_CType"/>
  <xs:element name="vinGasCusAgentResponse" type="tns:vinGasCusAgentRsp_CType"/>
  <xs:complexType name="vinGasCusAgentReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:vinGasCusAgentRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vinGasCusAgentRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:vinGasCusAgentResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uploadDKchkFle" type="tns:uploadDKchkFleReq_CType"/>
  <xs:element name="uploadDKchkFleResponse" type="tns:uploadDKchkFleRsp_CType"/>
  <xs:complexType name="uploadDKchkFleReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:uploadDKchkFleRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uploadDKchkFleRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:uploadDKchkFleResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="qryJnlInfo" type="tns:qryJnlInfoReq_CType"/>
  <xs:element name="qryJnlInfoResponse" type="tns:qryJnlInfoRsp_CType"/>
  <xs:complexType name="qryJnlInfoReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:qryJnlInfoRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryJnlInfoRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:qryJnlInfoResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="printReportForms" type="tns:printReportFormsReq_CType"/>
  <xs:element name="printReportFormsResponse" type="tns:printReportFormsRsp_CType"/>
  <xs:complexType name="printReportFormsReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:printReportFormsRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="printReportFormsRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:printReportFormsResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uploadCusAgentFile" type="tns:uploadCusAgentFileReq_CType"/>
  <xs:element name="uploadCusAgentFileResponse" type="tns:uploadCusAgentFileRsp_CType"/>
  <xs:complexType name="uploadCusAgentFileReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:uploadCusAgentFileRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uploadCusAgentFileRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:uploadCusAgentFileResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestHeader" type="tns:requestHeader_CType"/>
  <xs:element name="responseHeader" type="tns:responseHeader_CType"/>
  <xs:element name="sortingInfo" type="tns:sortingInfo_CType"/>
  <xs:element name="pageableRequest" type="tns:pageableRequest_CType"/>
  <xs:element name="pageableResponse" type="tns:pageableResponse_CType"/>
  <xs:element name="queryRspDisplayList" type="tns:queryRspDisplayList_CType"/>
  <xs:complexType name="requestHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipRequestHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipResponseHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="property_SType">
    <xs:annotation>
      <xs:documentation>排序数据域</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="direction_SType">
    <xs:annotation>
      <xs:documentation>排序方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sortingInfo_CType">
    <xs:sequence>
      <xs:element name="property" type="tns:property_SType"/>
      <xs:element name="direction" type="tns:direction_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="pageNum_SType">
    <xs:annotation>
      <xs:documentation>页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="pageSize_SType">
    <xs:annotation>
      <xs:documentation>每页显示数据数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:complexType name="pageableRequest_CType">
    <xs:sequence>
      <xs:element name="pageNum" type="tns:pageNum_SType"/>
      <xs:element name="pageSize" type="tns:pageSize_SType"/>
      <xs:element ref="tns:sortingInfo" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="totalElements_SType">
    <xs:annotation>
      <xs:documentation>总记录数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:simpleType name="totalPages_SType">
    <xs:annotation>
      <xs:documentation>总页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:complexType name="pageableResponse_CType">
    <xs:sequence>
      <xs:element name="totalElements" type="tns:totalElements_SType"/>
      <xs:element name="totalPages" type="tns:totalPages_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="detailName_SType">
    <xs:annotation>
      <xs:documentation>明细名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="detailContent_SType">
    <xs:annotation>
      <xs:documentation>明细内容cusAc</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="queryRspDisplayList_CType">
    <xs:sequence>
      <xs:element name="detailName" type="tns:detailName_SType" minOccurs="0"/>
      <xs:element name="detailContent" type="tns:detailContent_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryCusInfoRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element ref="tns:pageableRequest" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="cusNo" type="tns:cusNo_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="idNo" type="tns:idNo_SType" minOccurs="0"/>
      <xs:element name="beginDate" type="tns:beginDate_SType"/>
      <xs:element name="endDate" type="tns:endDate_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryCusInfoResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element ref="tns:pageableResponse" minOccurs="0"/>
      <xs:element name="pageNo" type="tns:pageNo_SType" minOccurs="0"/>
      <xs:element name="varSize" type="tns:varSize_SType" minOccurs="0"/>
      <xs:element name="ttl" type="tns:ttl_SType" minOccurs="0"/>
      <xs:element name="subTtl" type="tns:subTtl_SType" minOccurs="0"/>
      <xs:element name="loopDtl" type="tns:loopDtl_CType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eupsBusTyp_SType">
    <xs:annotation>
      <xs:documentation>交易类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusNo_SType">
    <xs:annotation>
      <xs:documentation>用户编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusAc_SType">
    <xs:annotation>
      <xs:documentation>客户账号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusNme_SType">
    <xs:annotation>
      <xs:documentation>账号户名</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="idNo_SType">
    <xs:annotation>
      <xs:documentation>证件号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="beginDate_SType">
    <xs:annotation>
      <xs:documentation>开始日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="endDate_SType">
    <xs:annotation>
      <xs:documentation>结束日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pageNo_SType">
    <xs:annotation>
      <xs:documentation>PageNo</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varSize_SType">
    <xs:annotation>
      <xs:documentation>VarSize</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ttl_SType">
    <xs:annotation>
      <xs:documentation>Ttl</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subTtl_SType">
    <xs:annotation>
      <xs:documentation>SubTtl</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="thdCusNo_SType">
    <xs:annotation>
      <xs:documentation>用户编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="acTyp_SType">
    <xs:annotation>
      <xs:documentation>代扣对象类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="creDte_SType">
    <xs:annotation>
      <xs:documentation>签约日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="agrTme_SType">
    <xs:annotation>
      <xs:documentation>签约柜员</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="idTyp_SType">
    <xs:annotation>
      <xs:documentation>证件类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="thdCusNme_SType">
    <xs:annotation>
      <xs:documentation>联系人名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cmuTel_SType">
    <xs:annotation>
      <xs:documentation>手机号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="loopDtl_CType">
    <xs:sequence>
      <xs:element name="thdCusNo" type="tns:thdCusNo_SType"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="acTyp" type="tns:acTyp_SType" minOccurs="0"/>
      <xs:element name="creDte" type="tns:creDte_SType" minOccurs="0"/>
      <xs:element name="agrTme" type="tns:agrTme_SType" minOccurs="0"/>
      <xs:element name="idTyp" type="tns:idTyp_SType" minOccurs="0"/>
      <xs:element name="idNo" type="tns:idNo_SType" minOccurs="0"/>
      <xs:element name="thdCusNme" type="tns:thdCusNme_SType" minOccurs="0"/>
      <xs:element name="cmuTel" type="tns:cmuTel_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vinGasCusAgentRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="optFlg" type="tns:optFlg_SType"/>
      <xs:element name="comNo" type="tns:comNo_SType"/>
      <xs:element name="thdCusNo" type="tns:thdCusNo_SType"/>
      <xs:element name="idTyp" type="tns:idTyp_SType"/>
      <xs:element name="idNo" type="tns:idNo_SType"/>
      <xs:element name="cusTyp" type="tns:cusTyp_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="cmuTel" type="tns:cmuTel_SType" minOccurs="0"/>
      <xs:element name="thdCusNme" type="tns:thdCusNme_SType" minOccurs="0"/>
      <xs:element name="thdCusAdr" type="tns:thdCusAdr_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vinGasCusAgentResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="optFlg" type="tns:optFlg_SType"/>
      <xs:element name="thdthdCusNo" type="tns:thdthdCusNo_SType" minOccurs="0"/>
      <xs:element name="idTyp" type="tns:idTyp_SType" minOccurs="0"/>
      <xs:element name="idNo" type="tns:idNo_SType" minOccurs="0"/>
      <xs:element name="cusTyp" type="tns:cusTyp_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="cmuTel" type="tns:cmuTel_SType" minOccurs="0"/>
      <xs:element name="thdCusNme" type="tns:thdCusNme_SType" minOccurs="0"/>
      <xs:element name="thdCusAdr" type="tns:thdCusAdr_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="optFlg_SType">
    <xs:annotation>
      <xs:documentation>功能选择</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="comNo_SType">
    <xs:annotation>
      <xs:documentation>单位编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusTyp_SType">
    <xs:annotation>
      <xs:documentation>账户类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="thdCusAdr_SType">
    <xs:annotation>
      <xs:documentation>联系人地址</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="thdthdCusNo_SType">
    <xs:annotation>
      <xs:documentation>用户编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="uploadDKchkFleRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="txnDte" type="tns:txnDte_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uploadDKchkFleResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="sqn" type="tns:sqn_SType" minOccurs="0"/>
      <xs:element name="rspMsg" type="tns:rspMsg_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="txnDte_SType">
    <xs:annotation>
      <xs:documentation>交易日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sqn_SType">
    <xs:annotation>
      <xs:documentation>流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rspMsg_SType">
    <xs:annotation>
      <xs:documentation>返回消息</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="qryJnlInfoRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element ref="tns:pageableRequest" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="thdCusNo" type="tns:thdCusNo_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="beginDate" type="tns:beginDate_SType"/>
      <xs:element name="endDate" type="tns:endDate_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryJnlInfoResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element ref="tns:pageableResponse" minOccurs="0"/>
      <xs:element name="pageNo" type="tns:pageNo_SType" minOccurs="0"/>
      <xs:element name="varSize" type="tns:varSize_SType" minOccurs="0"/>
      <xs:element name="ttl" type="tns:ttl_SType" minOccurs="0"/>
      <xs:element name="subTtl" type="tns:subTtl_SType" minOccurs="0"/>
      <xs:element name="loop" type="tns:loop_CType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="bakFld3_SType">
    <xs:annotation>
      <xs:documentation>费用年份</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="txnAmt_SType">
    <xs:annotation>
      <xs:documentation>交易金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="txnTme_SType">
    <xs:annotation>
      <xs:documentation>交易时间</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="acDte_SType">
    <xs:annotation>
      <xs:documentation>会计日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="mfmVchNo_SType">
    <xs:annotation>
      <xs:documentation>会计流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="thdSqn_SType">
    <xs:annotation>
      <xs:documentation>第三方流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="loop_CType">
    <xs:sequence>
      <xs:element name="thdCusNo" type="tns:thdCusNo_SType" minOccurs="0"/>
      <xs:element name="bakFld3" type="tns:bakFld3_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="txnAmt" type="tns:txnAmt_SType" minOccurs="0"/>
      <xs:element name="txnTme" type="tns:txnTme_SType" minOccurs="0"/>
      <xs:element name="acDte" type="tns:acDte_SType" minOccurs="0"/>
      <xs:element name="mfmVchNo" type="tns:mfmVchNo_SType" minOccurs="0"/>
      <xs:element name="sqn" type="tns:sqn_SType" minOccurs="0"/>
      <xs:element name="thdSqn" type="tns:thdSqn_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="printReportFormsRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="beginDate" type="tns:beginDate_SType"/>
      <xs:element name="endDate" type="tns:endDate_SType"/>
      <xs:element name="prtFlg" type="tns:prtFlg_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="printReportFormsResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="rspMsg" type="tns:rspMsg_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="prtFlg_SType">
    <xs:annotation>
      <xs:documentation>报表类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="uploadCusAgentFileRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="txnDte" type="tns:txnDte_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uploadCusAgentFileResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="sqn" type="tns:sqn_SType" minOccurs="0"/>
      <xs:element name="rspMsg" type="tns:rspMsg_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
