src/config/webservice/wsdl/GDEUPSBLotLclService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBLotLclService/Schema" xmlns:gsp="http://gsp.bankcomm.com" xmlns:bbip="http://bbip.bankcomm.com" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBLotLclService/Schema" elementFormDefault="qualified">
  <xs:import namespace="http://gsp.bankcomm.com" schemaLocation="headerOfSOAP.xsd"/>
  <xs:import namespace="http://bbip.bankcomm.com" schemaLocation="headerOfBbip.xsd"/>
  <xs:element name="downloadLotPrzFile" type="tns:downloadLotPrzFileReq_CType"/>
  <xs:element name="downloadLotPrzFileResponse" type="tns:downloadLotPrzFileRsp_CType"/>
  <xs:complexType name="downloadLotPrzFileReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:downloadLotPrzFileRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadLotPrzFileRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:downloadLotPrzFileResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="qryLotWinRecord" type="tns:qryLotWinRecordReq_CType"/>
  <xs:element name="qryLotWinRecordResponse" type="tns:qryLotWinRecordRsp_CType"/>
  <xs:complexType name="qryLotWinRecordReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:qryLotWinRecordRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryLotWinRecordRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:qryLotWinRecordResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="downloadLotChkFile" type="tns:downloadLotChkFileReq_CType"/>
  <xs:element name="downloadLotChkFileResponse" type="tns:downloadLotChkFileRsp_CType"/>
  <xs:complexType name="downloadLotChkFileReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:downloadLotChkFileRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadLotChkFileRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:downloadLotChkFileResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="qryLotBetRecord" type="tns:qryLotBetRecordReq_CType"/>
  <xs:element name="qryLotBetRecordResponse" type="tns:qryLotBetRecordRsp_CType"/>
  <xs:complexType name="qryLotBetRecordReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:qryLotBetRecordRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryLotBetRecordRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:qryLotBetRecordResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestHeader" type="tns:requestHeader_CType"/>
  <xs:element name="responseHeader" type="tns:responseHeader_CType"/>
  <xs:element name="sortingInfo" type="tns:sortingInfo_CType"/>
  <xs:element name="pageableRequest" type="tns:pageableRequest_CType"/>
  <xs:element name="pageableRsponse" type="tns:pageableRsponse_CType"/>
  <xs:complexType name="requestHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipRequestHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipResponseHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="property_SType">
    <xs:annotation>
      <xs:documentation>排序数据域</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="direction_SType">
    <xs:annotation>
      <xs:documentation>排序方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sortingInfo_CType">
    <xs:sequence>
      <xs:element name="property" type="tns:property_SType"/>
      <xs:element name="direction" type="tns:direction_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="pageNum_SType">
    <xs:annotation>
      <xs:documentation>页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="pageSize_SType">
    <xs:annotation>
      <xs:documentation>每页显示数据数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:complexType name="pageableRequest_CType">
    <xs:sequence>
      <xs:element name="pageNum" type="tns:pageNum_SType"/>
      <xs:element name="pageSize" type="tns:pageSize_SType"/>
      <xs:element ref="tns:sortingInfo" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="totalElements_SType">
    <xs:annotation>
      <xs:documentation>总记录数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:complexType name="pageableRsponse_CType">
    <xs:sequence>
      <xs:element name="totalElements" type="tns:totalElements_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadLotPrzFileRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="gameId" type="tns:gameId_SType"/>
      <xs:element name="drawId" type="tns:drawId_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadLotPrzFileResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eupsBusTyp_SType">
    <xs:annotation>
      <xs:documentation>交易类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gameId_SType">
    <xs:annotation>
      <xs:documentation>游戏编码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="drawId_SType">
    <xs:annotation>
      <xs:documentation>当前大期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="qryLotWinRecordRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="gameId" type="tns:gameId_SType" minOccurs="0"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
      <xs:element name="betTyp" type="tns:betTyp_SType" minOccurs="0"/>
      <xs:element name="begDat" type="tns:begDat_SType" minOccurs="0"/>
      <xs:element name="endDat" type="tns:endDat_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryLotWinRecordResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="ttl" type="tns:ttl_SType" minOccurs="0"/>
      <xs:element name="subTtl" type="tns:subTtl_SType" minOccurs="0"/>
      <xs:element name="rec" type="tns:rec_CType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="crdNo_SType">
    <xs:annotation>
      <xs:documentation>客户银行卡号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="21"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betTyp_SType">
    <xs:annotation>
      <xs:documentation>投注类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="begDat_SType">
    <xs:annotation>
      <xs:documentation>起始日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="endDat_SType">
    <xs:annotation>
      <xs:documentation>结束日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ttl_SType">
    <xs:annotation>
      <xs:documentation>浏览</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subTtl_SType">
    <xs:annotation>
      <xs:documentation>查询内容</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="txnLog_SType">
    <xs:annotation>
      <xs:documentation>投注交易流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="drawID_SType">
    <xs:annotation>
      <xs:documentation>当前大期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kenoID_SType">
    <xs:annotation>
      <xs:documentation>当前小期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betMul_SType">
    <xs:annotation>
      <xs:documentation>投注倍数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betLin_SType">
    <xs:annotation>
      <xs:documentation>投注号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betMod_SType">
    <xs:annotation>
      <xs:documentation>投注方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="przAmt_SType">
    <xs:annotation>
      <xs:documentation>返奖金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="rec_CType">
    <xs:sequence>
      <xs:element name="txnLog" type="tns:txnLog_SType" minOccurs="0"/>
      <xs:element name="drawID" type="tns:drawID_SType" minOccurs="0"/>
      <xs:element name="kenoID" type="tns:kenoID_SType" minOccurs="0"/>
      <xs:element name="betMul" type="tns:betMul_SType" minOccurs="0"/>
      <xs:element name="betLin" type="tns:betLin_SType" minOccurs="0"/>
      <xs:element name="betMod" type="tns:betMod_SType" minOccurs="0"/>
      <xs:element name="przAmt" type="tns:przAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadLotChkFileRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="gameId" type="tns:gameId_SType"/>
      <xs:element name="drawId" type="tns:drawId_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadLotChkFileResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryLotBetRecordRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
      <xs:element name="txnLog" type="tns:txnLog_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryLotBetRecordResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="txnLog" type="tns:txnLog_SType" minOccurs="0"/>
      <xs:element name="schId" type="tns:schId_SType" minOccurs="0"/>
      <xs:element name="tLogNo" type="tns:tLogNo_SType" minOccurs="0"/>
      <xs:element name="cipher" type="tns:cipher_SType" minOccurs="0"/>
      <xs:element name="verify" type="tns:verify_SType" minOccurs="0"/>
      <xs:element name="schTyp" type="tns:schTyp_SType" minOccurs="0"/>
      <xs:element name="schTit" type="tns:schTit_SType" minOccurs="0"/>
      <xs:element name="secLev" type="tns:secLev_SType" minOccurs="0"/>
      <xs:element name="lotTxnTim" type="tns:lotTxnTim_SType" minOccurs="0"/>
      <xs:element name="cityId" type="tns:cityId_SType" minOccurs="0"/>
      <xs:element name="gameId" type="tns:gameId_SType" minOccurs="0"/>
      <xs:element name="drawId" type="tns:drawId_SType" minOccurs="0"/>
      <xs:element name="kenoId" type="tns:kenoId_SType" minOccurs="0"/>
      <xs:element name="betMod" type="tns:betMod_SType" minOccurs="0"/>
      <xs:element name="betMul" type="tns:betMul_SType" minOccurs="0"/>
      <xs:element name="betAmt" type="tns:betAmt_SType" minOccurs="0"/>
      <xs:element name="grpNum" type="tns:grpNum_SType" minOccurs="0"/>
      <xs:element name="betNum" type="tns:betNum_SType" minOccurs="0"/>
      <xs:element name="recMsg" type="tns:recMsg_CType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="schSts" type="tns:schSts_SType" minOccurs="0"/>
      <xs:element name="bonAmt" type="tns:bonAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="schId_SType">
    <xs:annotation>
      <xs:documentation>方案编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tLogNo_SType">
    <xs:annotation>
      <xs:documentation>彩票流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cipher_SType">
    <xs:annotation>
      <xs:documentation>彩票密码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="verify_SType">
    <xs:annotation>
      <xs:documentation>彩票校验码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="schTyp_SType">
    <xs:annotation>
      <xs:documentation>方案类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="schTit_SType">
    <xs:annotation>
      <xs:documentation>方案标题</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="secLev_SType">
    <xs:annotation>
      <xs:documentation>方案等级</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lotTxnTim_SType">
    <xs:annotation>
      <xs:documentation>生成时间</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cityId_SType">
    <xs:annotation>
      <xs:documentation>地市编码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kenoId_SType">
    <xs:annotation>
      <xs:documentation>当前小期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betAmt_SType">
    <xs:annotation>
      <xs:documentation>投注金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="grpNum_SType">
    <xs:annotation>
      <xs:documentation>号码组个数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betNum_SType">
    <xs:annotation>
      <xs:documentation>总号码个数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="recMsg_CType">
    <xs:sequence>
      <xs:element name="betLin" type="tns:betLin_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="schSts_SType">
    <xs:annotation>
      <xs:documentation>方案状态</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bonAmt_SType">
    <xs:annotation>
      <xs:documentation>中奖金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
