src/config/webservice/wsdl/GDEUPSPROF00Service.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/Schema" xmlns:gsp="http://gsp.bankcomm.com" xmlns:bbip="http://bbip.bankcomm.com" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSPROF00Service/Schema" elementFormDefault="qualified">
  <xs:import namespace="http://gsp.bankcomm.com" schemaLocation="headerOfSOAP.xsd"/>
  <xs:import namespace="http://bbip.bankcomm.com" schemaLocation="headerOfBbip.xsd"/>
  <xs:element name="queryPrintInvoice" type="tns:queryPrintInvoiceReq_CType"/>
  <xs:element name="queryPrintInvoiceResponse" type="tns:queryPrintInvoiceRsp_CType"/>
  <xs:complexType name="queryPrintInvoiceReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:queryPrintInvoiceRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPrintInvoiceRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:queryPrintInvoiceResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="invoiceCancelGrantManager" type="tns:invoiceCancelGrantManagerReq_CType"/>
  <xs:element name="invoiceCancelGrantManagerResponse" type="tns:invoiceCancelGrantManagerRsp_CType"/>
  <xs:complexType name="invoiceCancelGrantManagerReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:invoiceCancelGrantManagerRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceCancelGrantManagerRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:invoiceCancelGrantManagerResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="invoiceReceiveManager" type="tns:invoiceReceiveManagerReq_CType"/>
  <xs:element name="invoiceReceiveManagerResponse" type="tns:invoiceReceiveManagerRsp_CType"/>
  <xs:complexType name="invoiceReceiveManagerReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:invoiceReceiveManagerRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceReceiveManagerRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:invoiceReceiveManagerResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="invoiceInvalidManager" type="tns:invoiceInvalidManagerReq_CType"/>
  <xs:element name="invoiceInvalidManagerResponse" type="tns:invoiceInvalidManagerRsp_CType"/>
  <xs:complexType name="invoiceInvalidManagerReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:invoiceInvalidManagerRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceInvalidManagerRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:invoiceInvalidManagerResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="invoiceUseManager" type="tns:invoiceUseManagerReq_CType"/>
  <xs:element name="invoiceUseManagerResponse" type="tns:invoiceUseManagerRsp_CType"/>
  <xs:complexType name="invoiceUseManagerReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:invoiceUseManagerRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceUseManagerRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:invoiceUseManagerResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="invoiceGrantManager" type="tns:invoiceGrantManagerReq_CType"/>
  <xs:element name="invoiceGrantManagerResponse" type="tns:invoiceGrantManagerRsp_CType"/>
  <xs:complexType name="invoiceGrantManagerReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:invoiceGrantManagerRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceGrantManagerRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:invoiceGrantManagerResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkTlrPasswd" type="tns:checkTlrPasswdReq_CType"/>
  <xs:element name="checkTlrPasswdResponse" type="tns:checkTlrPasswdRsp_CType"/>
  <xs:complexType name="checkTlrPasswdReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:checkTlrPasswdRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkTlrPasswdRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:checkTlrPasswdResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="invoiceCheckManager" type="tns:invoiceCheckManagerReq_CType"/>
  <xs:element name="invoiceCheckManagerResponse" type="tns:invoiceCheckManagerRsp_CType"/>
  <xs:complexType name="invoiceCheckManagerReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:invoiceCheckManagerRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceCheckManagerRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:invoiceCheckManagerResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="atmInvDtl" type="tns:atmInvDtlReq_CType"/>
  <xs:element name="atmInvDtlResponse" type="tns:atmInvDtlRsp_CType"/>
  <xs:complexType name="atmInvDtlReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:atmInvDtlRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atmInvDtlRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:atmInvDtlResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateTlrPasswd" type="tns:updateTlrPasswdReq_CType"/>
  <xs:element name="updateTlrPasswdResponse" type="tns:updateTlrPasswdRsp_CType"/>
  <xs:complexType name="updateTlrPasswdReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:updateTlrPasswdRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateTlrPasswdRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:updateTlrPasswdResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkTlrInf" type="tns:checkTlrInfReq_CType"/>
  <xs:element name="checkTlrInfResponse" type="tns:checkTlrInfRsp_CType"/>
  <xs:complexType name="checkTlrInfReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:checkTlrInfRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkTlrInfRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:checkTlrInfResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestHeader" type="tns:requestHeader_CType"/>
  <xs:element name="responseHeader" type="tns:responseHeader_CType"/>
  <xs:element name="sortingInfo" type="tns:sortingInfo_CType"/>
  <xs:element name="pageableRequest" type="tns:pageableRequest_CType"/>
  <xs:element name="pageableResponse" type="tns:pageableResponse_CType"/>
  <xs:element name="queryRspDisplayList" type="tns:queryRspDisplayList_CType"/>
  <xs:complexType name="requestHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipRequestHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipResponseHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="property_SType">
    <xs:annotation>
      <xs:documentation>排序数据域</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="direction_SType">
    <xs:annotation>
      <xs:documentation>排序方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sortingInfo_CType">
    <xs:sequence>
      <xs:element name="property" type="tns:property_SType"/>
      <xs:element name="direction" type="tns:direction_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="pageNum_SType">
    <xs:annotation>
      <xs:documentation>页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="pageSize_SType">
    <xs:annotation>
      <xs:documentation>每页显示数据数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:complexType name="pageableRequest_CType">
    <xs:sequence>
      <xs:element name="pageNum" type="tns:pageNum_SType"/>
      <xs:element name="pageSize" type="tns:pageSize_SType"/>
      <xs:element ref="tns:sortingInfo" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="totalElements_SType">
    <xs:annotation>
      <xs:documentation>总记录数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:simpleType name="totalPages_SType">
    <xs:annotation>
      <xs:documentation>总页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:complexType name="pageableResponse_CType">
    <xs:sequence>
      <xs:element name="totalElements" type="tns:totalElements_SType"/>
      <xs:element name="totalPages" type="tns:totalPages_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="detailName_SType">
    <xs:annotation>
      <xs:documentation>明细名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="detailContent_SType">
    <xs:annotation>
      <xs:documentation>明细内容cusAc</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="queryRspDisplayList_CType">
    <xs:sequence>
      <xs:element name="detailName" type="tns:detailName_SType" minOccurs="0"/>
      <xs:element name="detailContent" type="tns:detailContent_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPrintInvoiceRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="carNo" type="tns:carNo_SType" minOccurs="0"/>
      <xs:element name="carType" type="tns:carType_SType" minOccurs="0"/>
      <xs:element name="actNo" type="tns:actNo_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPrintInvoiceResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="trDate" type="tns:trDate_SType" minOccurs="0"/>
      <xs:element name="thdKey" type="tns:thdKey_SType" minOccurs="0"/>
      <xs:element name="carNo" type="tns:carNo_SType" minOccurs="0"/>
      <xs:element name="carType" type="tns:carType_SType" minOccurs="0"/>
      <xs:element name="mxCount" type="tns:mxCount_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eupsBusTyp_SType">
    <xs:annotation>
      <xs:documentation>EUPS业务类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="carNo_SType">
    <xs:annotation>
      <xs:documentation>车牌号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="carType_SType">
    <xs:annotation>
      <xs:documentation>车牌类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="actNo_SType">
    <xs:annotation>
      <xs:documentation>代扣账号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="21"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trDate_SType">
    <xs:annotation>
      <xs:documentation>交易日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="thdKey_SType">
    <xs:annotation>
      <xs:documentation>流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mxCount_SType">
    <xs:annotation>
      <xs:documentation>缴费月数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="invoiceCancelGrantManagerRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="func" type="tns:func_SType"/>
      <xs:element name="tckNo" type="tns:tckNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceCancelGrantManagerResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="invTyp" type="tns:invTyp_SType" minOccurs="0"/>
      <xs:element name="oprTlr" type="tns:oprTlr_SType" minOccurs="0"/>
      <xs:element name="ivBegNo" type="tns:ivBegNo_SType" minOccurs="0"/>
      <xs:element name="ivEndNo" type="tns:ivEndNo_SType" minOccurs="0"/>
      <xs:element name="tolNum" type="tns:tolNum_SType" minOccurs="0"/>
      <xs:element name="tckNo" type="tns:tckNo_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="func_SType">
    <xs:annotation>
      <xs:documentation>功能码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tckNo_SType">
    <xs:annotation>
      <xs:documentation>平台流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="invTyp_SType">
    <xs:annotation>
      <xs:documentation>凭证类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="oprTlr_SType">
    <xs:annotation>
      <xs:documentation>领用柜员</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ivBegNo_SType">
    <xs:annotation>
      <xs:documentation>凭证起始号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ivEndNo_SType">
    <xs:annotation>
      <xs:documentation>凭证结束号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tolNum_SType">
    <xs:annotation>
      <xs:documentation>张数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="invoiceReceiveManagerRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="invTyp" type="tns:invTyp_SType"/>
      <xs:element name="ivBegNo" type="tns:ivBegNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceReceiveManagerResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="actDat" type="tns:actDat_SType" minOccurs="0"/>
      <xs:element name="seqNo" type="tns:seqNo_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="actDat_SType">
    <xs:annotation>
      <xs:documentation>交易日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="seqNo_SType">
    <xs:annotation>
      <xs:documentation>流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="invoiceInvalidManagerRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="invTyp" type="tns:invTyp_SType"/>
      <xs:element name="doType" type="tns:doType_SType"/>
      <xs:element name="stlNum" type="tns:stlNum_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceInvalidManagerResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="actDat" type="tns:actDat_SType" minOccurs="0"/>
      <xs:element name="ivBegNo" type="tns:ivBegNo_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="doType_SType">
    <xs:annotation>
      <xs:documentation>凭证处理方法</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stlNum_SType">
    <xs:annotation>
      <xs:documentation>凭证总数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="invoiceUseManagerRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="invTyp" type="tns:invTyp_SType"/>
      <xs:element name="qyNo" type="tns:qyNo_SType"/>
      <xs:element name="oldSeq" type="tns:oldSeq_SType"/>
      <xs:element name="oldTrdate" type="tns:oldTrdate_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceUseManagerResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="seqNo" type="tns:seqNo_SType" minOccurs="0"/>
      <xs:element name="actDat" type="tns:actDat_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="qyNo_SType">
    <xs:annotation>
      <xs:documentation>企业编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="oldSeq_SType">
    <xs:annotation>
      <xs:documentation>原发票流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="oldTrdate_SType">
    <xs:annotation>
      <xs:documentation>原交易日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="invoiceGrantManagerRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="invTyp" type="tns:invTyp_SType"/>
      <xs:element name="oprTlr" type="tns:oprTlr_SType"/>
      <xs:element name="tlrPin" type="tns:tlrPin_SType"/>
      <xs:element name="ivBegNo" type="tns:ivBegNo_SType"/>
      <xs:element name="ivEndNo" type="tns:ivEndNo_SType"/>
      <xs:element name="tolNum" type="tns:tolNum_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceGrantManagerResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="tckNo" type="tns:tckNo_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tlrPin_SType">
    <xs:annotation>
      <xs:documentation>密码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="checkTlrPasswdRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="passwd" type="tns:passwd_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkTlrPasswdResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="passwd_SType">
    <xs:annotation>
      <xs:documentation>密码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="invoiceCheckManagerRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="invTyp" type="tns:invTyp_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceCheckManagerResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="useDat" type="tns:useDat_SType" minOccurs="0"/>
      <xs:element name="useNum" type="tns:useNum_SType" minOccurs="0"/>
      <xs:element name="clrNum" type="tns:clrNum_SType" minOccurs="0"/>
      <xs:element name="lostNum" type="tns:lostNum_SType" minOccurs="0"/>
      <xs:element name="actDat" type="tns:actDat_SType" minOccurs="0"/>
      <xs:element name="ivBegNo" type="tns:ivBegNo_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="useDat_SType">
    <xs:annotation>
      <xs:documentation>启用日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="useNum_SType">
    <xs:annotation>
      <xs:documentation>正常使用数量</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="clrNum_SType">
    <xs:annotation>
      <xs:documentation>作废数量</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lostNum_SType">
    <xs:annotation>
      <xs:documentation>丢失数量</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="atmInvDtlRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="func" type="tns:func_SType"/>
      <xs:element name="invTyp" type="tns:invTyp_SType" minOccurs="0"/>
      <xs:element name="begDat" type="tns:begDat_SType" minOccurs="0"/>
      <xs:element name="endDat" type="tns:endDat_SType" minOccurs="0"/>
      <xs:element name="qryNod" type="tns:qryNod_SType" minOccurs="0"/>
      <xs:element name="prtFlg" type="tns:prtFlg_SType" minOccurs="0"/>
      <xs:element name="nodNam" type="tns:nodNam_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atmInvDtlResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="tol" type="tns:tol_SType" minOccurs="0"/>
      <xs:element name="rec1" type="tns:rec1_CType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="rec2" type="tns:rec2_CType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="rec3" type="tns:rec3_CType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="begDat_SType">
    <xs:annotation>
      <xs:documentation>开始日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="endDat_SType">
    <xs:annotation>
      <xs:documentation>结束日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="qryNod_SType">
    <xs:annotation>
      <xs:documentation>网点号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="prtFlg_SType">
    <xs:annotation>
      <xs:documentation>打印标志</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodNam_SType">
    <xs:annotation>
      <xs:documentation>机构名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tol_SType">
    <xs:annotation>
      <xs:documentation>总笔数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="regTlr_SType">
    <xs:annotation>
      <xs:documentation>发放柜员</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lodNum_SType">
    <xs:annotation>
      <xs:documentation>装入数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="invNum_SType">
    <xs:annotation>
      <xs:documentation>结余数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="rec1_CType">
    <xs:sequence>
      <xs:element name="actDat" type="tns:actDat_SType" minOccurs="0"/>
      <xs:element name="oprTlr" type="tns:oprTlr_SType" minOccurs="0"/>
      <xs:element name="regTlr" type="tns:regTlr_SType" minOccurs="0"/>
      <xs:element name="invTyp" type="tns:invTyp_SType" minOccurs="0"/>
      <xs:element name="ivBegNo" type="tns:ivBegNo_SType" minOccurs="0"/>
      <xs:element name="ivEndNo" type="tns:ivEndNo_SType" minOccurs="0"/>
      <xs:element name="lodNum" type="tns:lodNum_SType" minOccurs="0"/>
      <xs:element name="useNum" type="tns:useNum_SType" minOccurs="0"/>
      <xs:element name="clrNum" type="tns:clrNum_SType" minOccurs="0"/>
      <xs:element name="invNum" type="tns:invNum_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nodno_SType">
    <xs:annotation>
      <xs:documentation>网点号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="rec2_CType">
    <xs:sequence>
      <xs:element name="nodno" type="tns:nodno_SType" minOccurs="0"/>
      <xs:element name="oprTlr" type="tns:oprTlr_SType" minOccurs="0"/>
      <xs:element name="invTyp" type="tns:invTyp_SType" minOccurs="0"/>
      <xs:element name="lodNum" type="tns:lodNum_SType" minOccurs="0"/>
      <xs:element name="useNum" type="tns:useNum_SType" minOccurs="0"/>
      <xs:element name="clrNum" type="tns:clrNum_SType" minOccurs="0"/>
      <xs:element name="invNum" type="tns:invNum_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rec3_CType">
    <xs:sequence>
      <xs:element name="qyNo" type="tns:qyNo_SType" minOccurs="0"/>
      <xs:element name="useNum" type="tns:useNum_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateTlrPasswdRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="newPwd" type="tns:newPwd_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateTlrPasswdResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="newPwd_SType">
    <xs:annotation>
      <xs:documentation>新密码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="checkTlrInfRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="oprTlr" type="tns:oprTlr_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkTlrInfResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
