src/config/webservice/wsdl/GDEUPSBLotService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBLotService/Schema" xmlns:gsp="http://gsp.bankcomm.com" xmlns:bbip="http://bbip.bankcomm.com" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBLotService/Schema" elementFormDefault="qualified">
  <xs:import namespace="http://gsp.bankcomm.com" schemaLocation="headerOfSOAP.xsd"/>
  <xs:import namespace="http://bbip.bankcomm.com" schemaLocation="headerOfBbip.xsd"/>
  <xs:element name="lotDeductMoney" type="tns:lotDeductMoneyReq_CType"/>
  <xs:element name="lotDeductMoneyResponse" type="tns:lotDeductMoneyRsp_CType"/>
  <xs:complexType name="lotDeductMoneyReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:lotDeductMoneyRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotDeductMoneyRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:lotDeductMoneyResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="qryLotTxnJnlInfo" type="tns:qryLotTxnJnlInfoReq_CType"/>
  <xs:element name="qryLotTxnJnlInfoResponse" type="tns:qryLotTxnJnlInfoRsp_CType"/>
  <xs:complexType name="qryLotTxnJnlInfoReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:qryLotTxnJnlInfoRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryLotTxnJnlInfoRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:qryLotTxnJnlInfoResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cathecticOnTime" type="tns:cathecticOnTimeReq_CType"/>
  <xs:element name="cathecticOnTimeResponse" type="tns:cathecticOnTimeRsp_CType"/>
  <xs:complexType name="cathecticOnTimeReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:cathecticOnTimeRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cathecticOnTimeRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:cathecticOnTimeResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lotRegist" type="tns:lotRegistReq_CType"/>
  <xs:element name="lotRegistResponse" type="tns:lotRegistRsp_CType"/>
  <xs:complexType name="lotRegistReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:lotRegistRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotRegistRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:lotRegistResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lotUpdateRegistInfoAction" type="tns:lotUpdateRegistInfoActionReq_CType"/>
  <xs:element name="lotUpdateRegistInfoActionResponse" type="tns:lotUpdateRegistInfoActionRsp_CType"/>
  <xs:complexType name="lotUpdateRegistInfoActionReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:lotUpdateRegistInfoActionRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotUpdateRegistInfoActionRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:lotUpdateRegistInfoActionResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryRegister" type="tns:queryRegisterReq_CType"/>
  <xs:element name="queryRegisterResponse" type="tns:queryRegisterRsp_CType"/>
  <xs:complexType name="queryRegisterReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:queryRegisterRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryRegisterRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:queryRegisterResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lotLogin" type="tns:lotLoginReq_CType"/>
  <xs:element name="lotLoginResponse" type="tns:lotLoginRsp_CType"/>
  <xs:complexType name="lotLoginReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:lotLoginRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotLoginRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:lotLoginResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestHeader" type="tns:requestHeader_CType"/>
  <xs:element name="responseHeader" type="tns:responseHeader_CType"/>
  <xs:element name="sortingInfo" type="tns:sortingInfo_CType"/>
  <xs:element name="pageableRequest" type="tns:pageableRequest_CType"/>
  <xs:element name="pageableResponse" type="tns:pageableResponse_CType"/>
  <xs:complexType name="requestHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipRequestHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipResponseHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="property_SType">
    <xs:annotation>
      <xs:documentation>排序数据域</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="direction_SType">
    <xs:annotation>
      <xs:documentation>排序方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sortingInfo_CType">
    <xs:sequence>
      <xs:element name="property" type="tns:property_SType"/>
      <xs:element name="direction" type="tns:direction_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="pageNum_SType">
    <xs:annotation>
      <xs:documentation>页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="pageSize_SType">
    <xs:annotation>
      <xs:documentation>每页显示数据数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:complexType name="pageableRequest_CType">
    <xs:sequence>
      <xs:element name="pageNum" type="tns:pageNum_SType"/>
      <xs:element name="pageSize" type="tns:pageSize_SType"/>
      <xs:element ref="tns:sortingInfo" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="totalElements_SType">
    <xs:annotation>
      <xs:documentation>总记录数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:simpleType name="totalPages_SType">
    <xs:annotation>
      <xs:documentation>总页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:complexType name="pageableResponse_CType">
    <xs:sequence>
      <xs:element name="totalElements" type="tns:totalElements_SType"/>
      <xs:element name="totalPages" type="tns:totalPages_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotDeductMoneyRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="gameId" type="tns:gameId_SType"/>
      <xs:element name="drawId" type="tns:drawId_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotDeductMoneyResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eupsBusTyp_SType">
    <xs:annotation>
      <xs:documentation>业务类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gameId_SType">
    <xs:annotation>
      <xs:documentation>游戏编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="drawId_SType">
    <xs:annotation>
      <xs:documentation>当前大期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="qryLotTxnJnlInfoRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
      <xs:element name="betTyp" type="tns:betTyp_SType" minOccurs="0"/>
      <xs:element name="begDat" type="tns:begDat_SType" minOccurs="0"/>
      <xs:element name="endDat" type="tns:endDat_SType" minOccurs="0"/>
      <xs:element ref="tns:pageableRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryLotTxnJnlInfoResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="gameId" type="tns:gameId_SType"/>
      <xs:element name="pageNo" type="tns:pageNo_SType" minOccurs="0"/>
      <xs:element name="varSize" type="tns:varSize_SType" minOccurs="0"/>
      <xs:element name="ttl" type="tns:ttl_SType" minOccurs="0"/>
      <xs:element name="subTtl" type="tns:subTtl_SType" minOccurs="0"/>
      <xs:element ref="tns:pageableResponse"/>
      <xs:element name="rec" type="tns:rec_CType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="crdNo_SType">
    <xs:annotation>
      <xs:documentation>客户银行卡号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="21"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betTyp_SType">
    <xs:annotation>
      <xs:documentation>投注类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="begDat_SType">
    <xs:annotation>
      <xs:documentation>起始日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="endDat_SType">
    <xs:annotation>
      <xs:documentation>结束日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pageNo_SType">
    <xs:annotation>
      <xs:documentation>PageNo</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varSize_SType">
    <xs:annotation>
      <xs:documentation>VarSize</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ttl_SType">
    <xs:annotation>
      <xs:documentation>Ttl</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subTtl_SType">
    <xs:annotation>
      <xs:documentation>SubTtl</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="playId_SType">
    <xs:annotation>
      <xs:documentation>玩法编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="txnLog_SType">
    <xs:annotation>
      <xs:documentation>投注流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kenoId_SType">
    <xs:annotation>
      <xs:documentation>当前小期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betMul_SType">
    <xs:annotation>
      <xs:documentation>投注倍数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betLin_SType">
    <xs:annotation>
      <xs:documentation>投注号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="drawNm_SType">
    <xs:annotation>
      <xs:documentation>期名</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="txnAmt_SType">
    <xs:annotation>
      <xs:documentation>投注金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="rec_CType">
    <xs:sequence>
      <xs:element name="gameId" type="tns:gameId_SType" minOccurs="0"/>
      <xs:element name="playId" type="tns:playId_SType" minOccurs="0"/>
      <xs:element name="txnLog" type="tns:txnLog_SType" minOccurs="0"/>
      <xs:element name="drawId" type="tns:drawId_SType" minOccurs="0"/>
      <xs:element name="kenoId" type="tns:kenoId_SType" minOccurs="0"/>
      <xs:element name="betMul" type="tns:betMul_SType" minOccurs="0"/>
      <xs:element name="betLin" type="tns:betLin_SType" minOccurs="0"/>
      <xs:element name="drawNm" type="tns:drawNm_SType" minOccurs="0"/>
      <xs:element name="txnAmt" type="tns:txnAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cathecticOnTimeRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
      <xs:element name="betTyp" type="tns:betTyp_SType" minOccurs="0"/>
      <xs:element name="schTyp" type="tns:schTyp_SType" minOccurs="0"/>
      <xs:element name="secLev" type="tns:secLev_SType" minOccurs="0"/>
      <xs:element name="gameId" type="tns:gameId_SType"/>
      <xs:element name="payId" type="tns:payId_SType"/>
      <xs:element name="drawId" type="tns:drawId_SType" minOccurs="0"/>
      <xs:element name="kenoId" type="tns:kenoId_SType" minOccurs="0"/>
      <xs:element name="betMod" type="tns:betMod_SType" minOccurs="0"/>
      <xs:element name="betMet" type="tns:betMet_SType" minOccurs="0"/>
      <xs:element name="betMul" type="tns:betMul_SType"/>
      <xs:element name="betAmt" type="tns:betAmt_SType"/>
      <xs:element name="grpNum" type="tns:grpNum_SType"/>
      <xs:element name="betNum" type="tns:betNum_SType"/>
      <xs:element name="betLin" type="tns:betLin_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cathecticOnTimeResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="txnLog" type="tns:txnLog_SType"/>
      <xs:element name="cipher" type="tns:cipher_SType"/>
      <xs:element name="verify" type="tns:verify_SType"/>
      <xs:element name="lotNam" type="tns:lotNam_SType"/>
      <xs:element name="lotBal" type="tns:lotBal_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="schTyp_SType">
    <xs:annotation>
      <xs:documentation>方案类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="secLev_SType">
    <xs:annotation>
      <xs:documentation>方案等级</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="payId_SType">
    <xs:annotation>
      <xs:documentation>玩法编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betMod_SType">
    <xs:annotation>
      <xs:documentation>投注方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betMet_SType">
    <xs:annotation>
      <xs:documentation>投注方法</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betAmt_SType">
    <xs:annotation>
      <xs:documentation>投注金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="grpNum_SType">
    <xs:annotation>
      <xs:documentation>号码组个数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betNum_SType">
    <xs:annotation>
      <xs:documentation>总号码个数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cipher_SType">
    <xs:annotation>
      <xs:documentation>彩票密码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="verify_SType">
    <xs:annotation>
      <xs:documentation>彩票校验码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lotNam_SType">
    <xs:annotation>
      <xs:documentation>彩民标识</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lotBal_SType">
    <xs:annotation>
      <xs:documentation>彩民余额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="18"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="lotRegistRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="cusNam" type="tns:cusNam_SType"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
      <xs:element name="idTyp" type="tns:idTyp_SType"/>
      <xs:element name="idNo" type="tns:idNo_SType"/>
      <xs:element name="actNo" type="tns:actNo_SType"/>
      <xs:element name="nodNo" type="tns:nodNo_SType"/>
      <xs:element name="mobTel" type="tns:mobTel_SType"/>
      <xs:element name="email" type="tns:email_SType" minOccurs="0"/>
      <xs:element name="fixTel" type="tns:fixTel_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotRegistResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="lotNam" type="tns:lotNam_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="cusNam_SType">
    <xs:annotation>
      <xs:documentation>客户姓名</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="idTyp_SType">
    <xs:annotation>
      <xs:documentation>证件类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="idNo_SType">
    <xs:annotation>
      <xs:documentation>证件号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="actNo_SType">
    <xs:annotation>
      <xs:documentation>客户银行帐号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="21"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodNo_SType">
    <xs:annotation>
      <xs:documentation>开户网点</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mobTel_SType">
    <xs:annotation>
      <xs:documentation>移动联系电话</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="email_SType">
    <xs:annotation>
      <xs:documentation>电子邮箱</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fixTel_SType">
    <xs:annotation>
      <xs:documentation>固定联系电话</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="lotUpdateRegistInfoActionRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="cusNam" type="tns:cusNam_SType"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
      <xs:element name="idTyp" type="tns:idTyp_SType"/>
      <xs:element name="idNo" type="tns:idNo_SType"/>
      <xs:element name="mobTel" type="tns:mobTel_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotUpdateRegistInfoActionResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="mobTel" type="tns:mobTel_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryRegisterRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryRegisterResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="cusNam" type="tns:cusNam_SType"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
      <xs:element name="idTyp" type="tns:idTyp_SType"/>
      <xs:element name="idNo" type="tns:idNo_SType"/>
      <xs:element name="mobTel" type="tns:mobTel_SType"/>
      <xs:element name="lotNam" type="tns:lotNam_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotLoginRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="lotTim" type="tns:lotTim_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotLoginResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="lotTim_SType">
    <xs:annotation>
      <xs:documentation>福彩时间</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
