src/config/webservice/wsdl/GDEUPSGdEleAddService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleAddService" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleAddService/Schema" name="GDEUPSGdEleAddService" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleAddService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleAddService">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleAddService/Schema" schemaLocation="GDEUPSGdEleAddService.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bnkcheckFileToEleRequestMessage">
    <wsdl:part name="bnkcheckFileToEleRequest" element="gdeupsb:bnkcheckFileToEle"/>
  </wsdl:message>
  <wsdl:message name="bnkcheckFileToEleResponseMessage">
    <wsdl:part name="bnkcheckFileToEleResponse" element="gdeupsb:bnkcheckFileToEleResponse"/>
  </wsdl:message>
  <wsdl:message name="bnkCmuConectRequestMessage">
    <wsdl:part name="bnkCmuConectRequest" element="gdeupsb:bnkCmuConect"/>
  </wsdl:message>
  <wsdl:message name="bnkCmuConectResponseMessage">
    <wsdl:part name="bnkCmuConectResponse" element="gdeupsb:bnkCmuConectResponse"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPSGdEleAddServicePortType">
    <wsdl:operation name="bnkcheckFileToEle">
      <wsdl:documentation/>
      <wsdl:input message="tns:bnkcheckFileToEleRequestMessage"/>
      <wsdl:output message="tns:bnkcheckFileToEleResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="bnkCmuConect">
      <wsdl:documentation/>
      <wsdl:input message="tns:bnkCmuConectRequestMessage"/>
      <wsdl:output message="tns:bnkCmuConectResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPSGdEleAddServiceSoapBinding" type="tns:GDEUPSGdEleAddServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bnkcheckFileToEle">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleAddService/bnkcheckFileToEle"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bnkCmuConect">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleAddService/bnkCmuConect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPSGdEleAddService">
    <wsdl:port name="GDEUPSGdEleAddServicePort" binding="tns:GDEUPSGdEleAddServiceSoapBinding">
      <soap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
