src/config/webservice/wsdl/GDEUPSGzagService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGzagService/Schema" xmlns:gsp="http://gsp.bankcomm.com" xmlns:bbip="http://bbip.bankcomm.com" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGzagService/Schema" elementFormDefault="qualified">
  <xs:import namespace="http://gsp.bankcomm.com" schemaLocation="headerOfSOAP.xsd"/>
  <xs:import namespace="http://bbip.bankcomm.com" schemaLocation="headerOfBbip.xsd"/>
  <xs:element name="batchCancel" type="tns:batchCancelReq_CType"/>
  <xs:element name="batchCancelResponse" type="tns:batchCancelRsp_CType"/>
  <xs:complexType name="batchCancelReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:batchCancelRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchCancelRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:batchCancelResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fileSubmit" type="tns:fileSubmitReq_CType"/>
  <xs:element name="fileSubmitResponse" type="tns:fileSubmitRsp_CType"/>
  <xs:complexType name="fileSubmitReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:fileSubmitRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileSubmitRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:fileSubmitResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fileIn" type="tns:fileInReq_CType"/>
  <xs:element name="fileInResponse" type="tns:fileInRsp_CType"/>
  <xs:complexType name="fileInReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:fileInRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileInRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:fileInResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="qryComInformation" type="tns:qryComInformationReq_CType"/>
  <xs:element name="qryComInformationResponse" type="tns:qryComInformationRsp_CType"/>
  <xs:complexType name="qryComInformationReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:qryComInformationRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryComInformationRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:qryComInformationResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fileOut" type="tns:fileOutReq_CType"/>
  <xs:element name="fileOutResponse" type="tns:fileOutRsp_CType"/>
  <xs:complexType name="fileOutReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:fileOutRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileOutRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:fileOutResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="qryBatInformation" type="tns:qryBatInformationReq_CType"/>
  <xs:element name="qryBatInformationResponse" type="tns:qryBatInformationRsp_CType"/>
  <xs:complexType name="qryBatInformationReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:qryBatInformationRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryBatInformationRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:qryBatInformationResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryBatSts" type="tns:queryBatStsReq_CType"/>
  <xs:element name="queryBatStsResponse" type="tns:queryBatStsRsp_CType"/>
  <xs:complexType name="queryBatStsReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:queryBatStsRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBatStsRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:queryBatStsResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestHeader" type="tns:requestHeader_CType"/>
  <xs:element name="responseHeader" type="tns:responseHeader_CType"/>
  <xs:complexType name="requestHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipRequestHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipResponseHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchCancelRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchCancelResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="ApFmt" type="tns:ApFmt_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="subDte" type="tns:subDte_SType" minOccurs="0"/>
      <xs:element name="comNme" type="tns:comNme_SType" minOccurs="0"/>
      <xs:element name="batSts" type="tns:batSts_SType" minOccurs="0"/>
      <xs:element name="totCnt" type="tns:totCnt_SType" minOccurs="0"/>
      <xs:element name="totAmt" type="tns:totAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eupsBusTyp_SType">
    <xs:annotation>
      <xs:documentation>业务类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="batNo_SType">
    <xs:annotation>
      <xs:documentation>批次号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ApFmt_SType">
    <xs:annotation>
      <xs:documentation>格式码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="comNo_SType">
    <xs:annotation>
      <xs:documentation>单位编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subDte_SType">
    <xs:annotation>
      <xs:documentation>文件日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="comNme_SType">
    <xs:annotation>
      <xs:documentation>单位名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="batSts_SType">
    <xs:annotation>
      <xs:documentation>批次状态</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="totCnt_SType">
    <xs:annotation>
      <xs:documentation>入库总笔数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="totAmt_SType">
    <xs:annotation>
      <xs:documentation>入库总金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="15"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="fileSubmitRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileSubmitResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="ApFmt" type="tns:ApFmt_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="subDte" type="tns:subDte_SType" minOccurs="0"/>
      <xs:element name="comNme" type="tns:comNme_SType" minOccurs="0"/>
      <xs:element name="batSts" type="tns:batSts_SType" minOccurs="0"/>
      <xs:element name="totCnt" type="tns:totCnt_SType" minOccurs="0"/>
      <xs:element name="totAmt" type="tns:totAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileInRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType"/>
      <xs:element name="subDte" type="tns:subDte_SType"/>
      <xs:element name="totCnt" type="tns:totCnt_SType"/>
      <xs:element name="totAmt" type="tns:totAmt_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileInResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="ApFmt" type="tns:ApFmt_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="subDte" type="tns:subDte_SType" minOccurs="0"/>
      <xs:element name="comNme" type="tns:comNme_SType" minOccurs="0"/>
      <xs:element name="batSts" type="tns:batSts_SType" minOccurs="0"/>
      <xs:element name="totCnt" type="tns:totCnt_SType" minOccurs="0"/>
      <xs:element name="totAmt" type="tns:totAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryComInformationRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryComInformationResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="ApFmt" type="tns:ApFmt_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="comNme" type="tns:comNme_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileOutRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileOutResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="ApFmt" type="tns:ApFmt_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="subDte" type="tns:subDte_SType" minOccurs="0"/>
      <xs:element name="comNme" type="tns:comNme_SType" minOccurs="0"/>
      <xs:element name="batSts" type="tns:batSts_SType" minOccurs="0"/>
      <xs:element name="totCnt" type="tns:totCnt_SType" minOccurs="0"/>
      <xs:element name="totAmt" type="tns:totAmt_SType" minOccurs="0"/>
      <xs:element name="sucTotCnt" type="tns:sucTotCnt_SType" minOccurs="0"/>
      <xs:element name="sucTotAmt" type="tns:sucTotAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="sucTotCnt_SType">
    <xs:annotation>
      <xs:documentation>成功总笔数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sucTotAmt_SType">
    <xs:annotation>
      <xs:documentation>成功总金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="15"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="qryBatInformationRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qryBatInformationResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="ApFmt" type="tns:ApFmt_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="subDte" type="tns:subDte_SType" minOccurs="0"/>
      <xs:element name="comNme" type="tns:comNme_SType" minOccurs="0"/>
      <xs:element name="batSts" type="tns:batSts_SType" minOccurs="0"/>
      <xs:element name="HostbatSts" type="tns:HostbatSts_SType" minOccurs="0"/>
      <xs:element name="totCnt" type="tns:totCnt_SType" minOccurs="0"/>
      <xs:element name="totAmt" type="tns:totAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HostbatSts_SType">
    <xs:annotation>
      <xs:documentation>主机批次状态</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="queryBatStsRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader" minOccurs="0"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType"/>
      <xs:element name="comNo" type="tns:comNo_SType"/>
      <xs:element name="startDate" type="tns:startDate_SType"/>
      <xs:element name="endDate" type="tns:endDate_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBatStsResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="ApFmt" type="tns:ApFmt_SType" minOccurs="0"/>
      <xs:element name="batNo" type="tns:batNo_SType" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="subDte" type="tns:subDte_SType" minOccurs="0"/>
      <xs:element name="comNme" type="tns:comNme_SType" minOccurs="0"/>
      <xs:element name="batSts" type="tns:batSts_SType" minOccurs="0"/>
      <xs:element name="HostbatSts" type="tns:HostbatSts_SType" minOccurs="0"/>
      <xs:element name="totCnt" type="tns:totCnt_SType" minOccurs="0"/>
      <xs:element name="totAmt" type="tns:totAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="startDate_SType">
    <xs:annotation>
      <xs:documentation>起始日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="endDate_SType">
    <xs:annotation>
      <xs:documentation>结束日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
