src/config/webservice/wsdl/GDEUPSOffChanAddService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSOffChanAddService" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSOffChanAddService/Schema" name="GDEUPSOffChanAddService" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSOffChanAddService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSOffChanAddService">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSOffChanAddService/Schema" schemaLocation="GDEUPSOffChanAddService.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="payFeeOffChanRequestMessage">
    <wsdl:part name="payFeeOffChanRequest" element="gdeupsb:payFeeOffChan"/>
  </wsdl:message>
  <wsdl:message name="payFeeOffChanResponseMessage">
    <wsdl:part name="payFeeOffChanResponse" element="gdeupsb:payFeeOffChanResponse"/>
  </wsdl:message>
  <wsdl:message name="payCancelOffChanRequestMessage">
    <wsdl:part name="payCancelOffChanRequest" element="gdeupsb:payCancelOffChan"/>
  </wsdl:message>
  <wsdl:message name="payCancelOffChanResponseMessage">
    <wsdl:part name="payCancelOffChanResponse" element="gdeupsb:payCancelOffChanResponse"/>
  </wsdl:message>
  <wsdl:message name="queryThirdFeeOffChanRequestMessage">
    <wsdl:part name="queryThirdFeeOffChanRequest" element="gdeupsb:queryThirdFeeOffChan"/>
  </wsdl:message>
  <wsdl:message name="queryThirdFeeOffChanResponseMessage">
    <wsdl:part name="queryThirdFeeOffChanResponse" element="gdeupsb:queryThirdFeeOffChanResponse"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPSOffChanAddServicePortType">
    <wsdl:operation name="payFeeOffChan">
      <wsdl:documentation/>
      <wsdl:input message="tns:payFeeOffChanRequestMessage"/>
      <wsdl:output message="tns:payFeeOffChanResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="payCancelOffChan">
      <wsdl:documentation/>
      <wsdl:input message="tns:payCancelOffChanRequestMessage"/>
      <wsdl:output message="tns:payCancelOffChanResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="queryThirdFeeOffChan">
      <wsdl:documentation/>
      <wsdl:input message="tns:queryThirdFeeOffChanRequestMessage"/>
      <wsdl:output message="tns:queryThirdFeeOffChanResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPSOffChanAddServiceSoapBinding" type="tns:GDEUPSOffChanAddServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="payFeeOffChan">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSOffChanAddService/payFeeOffChan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payCancelOffChan">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSOffChanAddService/payCancelOffChan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryThirdFeeOffChan">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSOffChanAddService/queryThirdFeeOffChan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPSOffChanAddService">
    <wsdl:port name="GDEUPSOffChanAddServicePort" binding="tns:GDEUPSOffChanAddServiceSoapBinding">
      <soap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
