src/config/webservice/wsdl/GDEUPSBGasCoreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/Schema" name="GDEUPSBGasCoreService" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/Schema" schemaLocation="GDEUPSBGasCoreService.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="qryGasCusInfoRequestMessage">
    <wsdl:part name="qryGasCusInfoRequest" element="gdeupsb:qryGasCusInfo"/>
  </wsdl:message>
  <wsdl:message name="qryGasCusInfoResponseMessage">
    <wsdl:part name="qryGasCusInfoResponse" element="gdeupsb:qryGasCusInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="qryCusInfoRequestMessage">
    <wsdl:part name="qryCusInfoRequest" element="gdeupsb:qryCusInfo"/>
  </wsdl:message>
  <wsdl:message name="qryCusInfoResponseMessage">
    <wsdl:part name="qryCusInfoResponse" element="gdeupsb:qryCusInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="vinGasCusAgentRequestMessage">
    <wsdl:part name="vinGasCusAgentRequest" element="gdeupsb:vinGasCusAgent"/>
  </wsdl:message>
  <wsdl:message name="vinGasCusAgentResponseMessage">
    <wsdl:part name="vinGasCusAgentResponse" element="gdeupsb:vinGasCusAgentResponse"/>
  </wsdl:message>
  <wsdl:message name="uploadDKchkFleRequestMessage">
    <wsdl:part name="uploadDKchkFleRequest" element="gdeupsb:uploadDKchkFle"/>
  </wsdl:message>
  <wsdl:message name="uploadDKchkFleResponseMessage">
    <wsdl:part name="uploadDKchkFleResponse" element="gdeupsb:uploadDKchkFleResponse"/>
  </wsdl:message>
  <wsdl:message name="qryJnlInfoRequestMessage">
    <wsdl:part name="qryJnlInfoRequest" element="gdeupsb:qryJnlInfo"/>
  </wsdl:message>
  <wsdl:message name="qryJnlInfoResponseMessage">
    <wsdl:part name="qryJnlInfoResponse" element="gdeupsb:qryJnlInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="printReportFormsRequestMessage">
    <wsdl:part name="printReportFormsRequest" element="gdeupsb:printReportForms"/>
  </wsdl:message>
  <wsdl:message name="printReportFormsResponseMessage">
    <wsdl:part name="printReportFormsResponse" element="gdeupsb:printReportFormsResponse"/>
  </wsdl:message>
  <wsdl:message name="uploadCusAgentFileRequestMessage">
    <wsdl:part name="uploadCusAgentFileRequest" element="gdeupsb:uploadCusAgentFile"/>
  </wsdl:message>
  <wsdl:message name="uploadCusAgentFileResponseMessage">
    <wsdl:part name="uploadCusAgentFileResponse" element="gdeupsb:uploadCusAgentFileResponse"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPSBGasCoreServicePortType">
    <wsdl:operation name="qryGasCusInfo">
      <wsdl:documentation/>
      <wsdl:input message="tns:qryGasCusInfoRequestMessage"/>
      <wsdl:output message="tns:qryGasCusInfoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="qryCusInfo">
      <wsdl:documentation/>
      <wsdl:input message="tns:qryCusInfoRequestMessage"/>
      <wsdl:output message="tns:qryCusInfoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="vinGasCusAgent">
      <wsdl:documentation/>
      <wsdl:input message="tns:vinGasCusAgentRequestMessage"/>
      <wsdl:output message="tns:vinGasCusAgentResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="uploadDKchkFle">
      <wsdl:documentation/>
      <wsdl:input message="tns:uploadDKchkFleRequestMessage"/>
      <wsdl:output message="tns:uploadDKchkFleResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="qryJnlInfo">
      <wsdl:documentation/>
      <wsdl:input message="tns:qryJnlInfoRequestMessage"/>
      <wsdl:output message="tns:qryJnlInfoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="printReportForms">
      <wsdl:documentation/>
      <wsdl:input message="tns:printReportFormsRequestMessage"/>
      <wsdl:output message="tns:printReportFormsResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="uploadCusAgentFile">
      <wsdl:documentation/>
      <wsdl:input message="tns:uploadCusAgentFileRequestMessage"/>
      <wsdl:output message="tns:uploadCusAgentFileResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPSBGasCoreServiceSoapBinding" type="tns:GDEUPSBGasCoreServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="qryGasCusInfo">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/qryGasCusInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="qryCusInfo">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/qryCusInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vinGasCusAgent">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/vinGasCusAgent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadDKchkFle">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/uploadDKchkFle"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="qryJnlInfo">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/qryJnlInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printReportForms">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/printReportForms"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCusAgentFile">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSBGasCoreService/uploadCusAgentFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPSBGasCoreService">
    <wsdl:port name="GDEUPSBGasCoreServicePort" binding="tns:GDEUPSBGasCoreServiceSoapBinding">
      <soap:address location="http://127.0.0.1:8080/GDEUPSB/ws/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
