src/config/webservice/wsdl/GDEUPSLOTR01Service.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gdeups.service.bankcomm.com/basic/atomic/operation.GDEUPSLOTR01Service/Schema" xmlns:gsp="http://gsp.bankcomm.com" xmlns:bbip="http://bbip.bankcomm.com" targetNamespace="http://gdeups.service.bankcomm.com/basic/atomic/operation.GDEUPSLOTR01Service/Schema" elementFormDefault="qualified">
  <xs:import namespace="http://gsp.bankcomm.com" schemaLocation="headerOfSOAP.xsd"/>
  <xs:import namespace="http://bbip.bankcomm.com" schemaLocation="headerOfBbip.xsd"/>
  <xs:element name="cancelPlanPay" type="tns:cancelPlanPayReq_CType"/>
  <xs:element name="cancelPlanPayResponse" type="tns:cancelPlanPayRsp_CType"/>
  <xs:complexType name="cancelPlanPayReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:cancelPlanPayRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelPlanPayRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:cancelPlanPayResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryPlanPay" type="tns:queryPlanPayReq_CType"/>
  <xs:element name="queryPlanPayResponse" type="tns:queryPlanPayRsp_CType"/>
  <xs:complexType name="queryPlanPayReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:queryPlanPayRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlanPayRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:queryPlanPayResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="insertPlanPay" type="tns:insertPlanPayReq_CType"/>
  <xs:element name="insertPlanPayResponse" type="tns:insertPlanPayRsp_CType"/>
  <xs:complexType name="insertPlanPayReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:insertPlanPayRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertPlanPayRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:insertPlanPayResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestHeader" type="tns:requestHeader_CType"/>
  <xs:element name="responseHeader" type="tns:responseHeader_CType"/>
  <xs:element name="sortingInfo" type="tns:sortingInfo_CType"/>
  <xs:element name="pageableRequest" type="tns:pageableRequest_CType"/>
  <xs:element name="pageableResponse" type="tns:pageableResponse_CType"/>
  <xs:element name="queryRspDisplayList" type="tns:queryRspDisplayList_CType"/>
  <xs:complexType name="requestHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipRequestHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipResponseHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="property_SType">
    <xs:annotation>
      <xs:documentation>排序数据域</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="direction_SType">
    <xs:annotation>
      <xs:documentation>排序方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sortingInfo_CType">
    <xs:sequence>
      <xs:element name="property" type="tns:property_SType"/>
      <xs:element name="direction" type="tns:direction_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="pageNum_SType">
    <xs:annotation>
      <xs:documentation>页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="pageSize_SType">
    <xs:annotation>
      <xs:documentation>每页显示数据数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:complexType name="pageableRequest_CType">
    <xs:sequence>
      <xs:element name="pageNum" type="tns:pageNum_SType"/>
      <xs:element name="pageSize" type="tns:pageSize_SType"/>
      <xs:element ref="tns:sortingInfo" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="totalElements_SType">
    <xs:annotation>
      <xs:documentation>总记录数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:simpleType name="totalPages_SType">
    <xs:annotation>
      <xs:documentation>总页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:complexType name="pageableResponse_CType">
    <xs:sequence>
      <xs:element name="totalElements" type="tns:totalElements_SType"/>
      <xs:element name="totalPages" type="tns:totalPages_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="detailName_SType">
    <xs:annotation>
      <xs:documentation>明细名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="detailContent_SType">
    <xs:annotation>
      <xs:documentation>明细内容cusAc</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="queryRspDisplayList_CType">
    <xs:sequence>
      <xs:element name="detailName" type="tns:detailName_SType" minOccurs="0"/>
      <xs:element name="detailContent" type="tns:detailContent_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelPlanPayRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="planNo" type="tns:planNo_SType"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelPlanPayResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="planNo" type="tns:planNo_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eupsBusTyp_SType">
    <xs:annotation>
      <xs:documentation>EUPS业务类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="planNo_SType">
    <xs:annotation>
      <xs:documentation>定投计划编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="crdNo_SType">
    <xs:annotation>
      <xs:documentation>客户卡号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="queryPlanPayRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPlanPayResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="retNum" type="tns:retNum_SType" minOccurs="0"/>
      <xs:element name="detailList" type="tns:detailList_CType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="retNum_SType">
    <xs:annotation>
      <xs:documentation>明细数量</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="planNm_SType">
    <xs:annotation>
      <xs:documentation>定投计划名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mobTel_SType">
    <xs:annotation>
      <xs:documentation>联系电话</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betPer_SType">
    <xs:annotation>
      <xs:documentation>投注期数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betLin_SType">
    <xs:annotation>
      <xs:documentation>投注号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betAmt_SType">
    <xs:annotation>
      <xs:documentation>投注金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="doPer_SType">
    <xs:annotation>
      <xs:documentation>已执行期数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="levPer_SType">
    <xs:annotation>
      <xs:documentation>已剩下期数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="status_SType">
    <xs:annotation>
      <xs:documentation>状态</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="detailList_CType">
    <xs:sequence>
      <xs:element name="planNo" type="tns:planNo_SType" minOccurs="0"/>
      <xs:element name="planNm" type="tns:planNm_SType" minOccurs="0"/>
      <xs:element name="mobTel" type="tns:mobTel_SType" minOccurs="0"/>
      <xs:element name="betPer" type="tns:betPer_SType" minOccurs="0"/>
      <xs:element name="betLin" type="tns:betLin_SType" minOccurs="0"/>
      <xs:element name="betAmt" type="tns:betAmt_SType" minOccurs="0"/>
      <xs:element name="doPer" type="tns:doPer_SType" minOccurs="0"/>
      <xs:element name="levPer" type="tns:levPer_SType" minOccurs="0"/>
      <xs:element name="status" type="tns:status_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertPlanPayRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="planNm" type="tns:planNm_SType" minOccurs="0"/>
      <xs:element name="gameId" type="tns:gameId_SType"/>
      <xs:element name="gamNam" type="tns:gamNam_SType" minOccurs="0"/>
      <xs:element name="playId" type="tns:playId_SType"/>
      <xs:element name="betPer" type="tns:betPer_SType"/>
      <xs:element name="betMet" type="tns:betMet_SType"/>
      <xs:element name="betMod" type="tns:betMod_SType"/>
      <xs:element name="betMul" type="tns:betMul_SType"/>
      <xs:element name="betAmt" type="tns:betAmt_SType"/>
      <xs:element name="betLin" type="tns:betLin_SType"/>
      <xs:element name="crdNo" type="tns:crdNo_SType"/>
      <xs:element name="txnCnl" type="tns:txnCnl_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertPlanPayResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader"/>
      <xs:element name="crdNo" type="tns:crdNo_SType" minOccurs="0"/>
      <xs:element name="betPer" type="tns:betPer_SType" minOccurs="0"/>
      <xs:element name="betLin" type="tns:betLin_SType" minOccurs="0"/>
      <xs:element name="betAmt" type="tns:betAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="gameId_SType">
    <xs:annotation>
      <xs:documentation>游戏编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gamNam_SType">
    <xs:annotation>
      <xs:documentation>游戏名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="playId_SType">
    <xs:annotation>
      <xs:documentation>玩法编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betMet_SType">
    <xs:annotation>
      <xs:documentation>投注方法</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betMod_SType">
    <xs:annotation>
      <xs:documentation>投注方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betMul_SType">
    <xs:annotation>
      <xs:documentation>投注倍数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="txnCnl_SType">
    <xs:annotation>
      <xs:documentation>定投交易渠道</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
