src/config/webservice/wsdl/GDEUPSGdEleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/Schema" name="GDEUPSGdEleService" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/Schema" schemaLocation="GDEUPSGdEleService.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="batchAccountFileSubmitRequestMessage">
    <wsdl:part name="batchAccountFileSubmitRequest" element="gdeupsb:batchAccountFileSubmit"/>
  </wsdl:message>
  <wsdl:message name="batchAccountFileSubmitResponseMessage">
    <wsdl:part name="batchAccountFileSubmitResponse" element="gdeupsb:batchAccountFileSubmitResponse"/>
  </wsdl:message>
  <wsdl:message name="eleaBnkPayFeeCancleRequestMessage">
    <wsdl:part name="eleaBnkPayFeeCancleRequest" element="gdeupsb:eleaBnkPayFeeCancle"/>
  </wsdl:message>
  <wsdl:message name="eleaBnkPayFeeCancleResponseMessage">
    <wsdl:part name="eleaBnkPayFeeCancleResponse" element="gdeupsb:eleaBnkPayFeeCancleResponse"/>
  </wsdl:message>
  <wsdl:message name="bnkcheckFileToEleRequestMessage">
    <wsdl:part name="bnkcheckFileToEleRequest" element="gdeupsb:bnkcheckFileToEle"/>
  </wsdl:message>
  <wsdl:message name="bnkcheckFileToEleResponseMessage">
    <wsdl:part name="bnkcheckFileToEleResponse" element="gdeupsb:bnkcheckFileToEleResponse"/>
  </wsdl:message>
  <wsdl:message name="batchAccountFilePreRequestMessage">
    <wsdl:part name="batchAccountFilePreRequest" element="gdeupsb:batchAccountFilePre"/>
  </wsdl:message>
  <wsdl:message name="batchAccountFilePreResponseMessage">
    <wsdl:part name="batchAccountFilePreResponse" element="gdeupsb:batchAccountFilePreResponse"/>
  </wsdl:message>
  <wsdl:message name="eleaBnkPayFeeRequestMessage">
    <wsdl:part name="eleaBnkPayFeeRequest" element="gdeupsb:eleaBnkPayFee"/>
  </wsdl:message>
  <wsdl:message name="eleaBnkPayFeeResponseMessage">
    <wsdl:part name="eleaBnkPayFeeResponse" element="gdeupsb:eleaBnkPayFeeResponse"/>
  </wsdl:message>
  <wsdl:message name="eleaQryUsrPayInfoRequestMessage">
    <wsdl:part name="eleaQryUsrPayInfoRequest" element="gdeupsb:eleaQryUsrPayInfo"/>
  </wsdl:message>
  <wsdl:message name="eleaQryUsrPayInfoResponseMessage">
    <wsdl:part name="eleaQryUsrPayInfoResponse" element="gdeupsb:eleaQryUsrPayInfoResponse"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPSGdEleServicePortType">
    <wsdl:operation name="batchAccountFileSubmit">
      <wsdl:documentation/>
      <wsdl:input message="tns:batchAccountFileSubmitRequestMessage"/>
      <wsdl:output message="tns:batchAccountFileSubmitResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="eleaBnkPayFeeCancle">
      <wsdl:documentation/>
      <wsdl:input message="tns:eleaBnkPayFeeCancleRequestMessage"/>
      <wsdl:output message="tns:eleaBnkPayFeeCancleResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="bnkcheckFileToEle">
      <wsdl:documentation/>
      <wsdl:input message="tns:bnkcheckFileToEleRequestMessage"/>
      <wsdl:output message="tns:bnkcheckFileToEleResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="batchAccountFilePre">
      <wsdl:documentation/>
      <wsdl:input message="tns:batchAccountFilePreRequestMessage"/>
      <wsdl:output message="tns:batchAccountFilePreResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="eleaBnkPayFee">
      <wsdl:documentation/>
      <wsdl:input message="tns:eleaBnkPayFeeRequestMessage"/>
      <wsdl:output message="tns:eleaBnkPayFeeResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="eleaQryUsrPayInfo">
      <wsdl:documentation/>
      <wsdl:input message="tns:eleaQryUsrPayInfoRequestMessage"/>
      <wsdl:output message="tns:eleaQryUsrPayInfoResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPSGdEleServiceSoapBinding" type="tns:GDEUPSGdEleServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="batchAccountFileSubmit">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/batchAccountFileSubmit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eleaBnkPayFeeCancle">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/eleaBnkPayFeeCancle"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bnkcheckFileToEle">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/bnkcheckFileToEle"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="batchAccountFilePre">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/batchAccountFilePre"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eleaBnkPayFee">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/eleaBnkPayFee"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eleaQryUsrPayInfo">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/eleaQryUsrPayInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPSGdEleService">
    <wsdl:port name="GDEUPSGdEleServicePort" binding="tns:GDEUPSGdEleServiceSoapBinding">
      <soap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
