src/config/webservice/wsdl/GDEUPSGdEleService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/Schema" xmlns:gsp="http://gsp.bankcomm.com" xmlns:bbip="http://bbip.bankcomm.com" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSGdEleService/Schema" elementFormDefault="qualified">
  <xs:import namespace="http://gsp.bankcomm.com" schemaLocation="headerOfSOAP.xsd"/>
  <xs:import namespace="http://bbip.bankcomm.com" schemaLocation="headerOfBbip.xsd"/>
  <xs:element name="batchAccountFileSubmit" type="tns:batchAccountFileSubmitReq_CType"/>
  <xs:element name="batchAccountFileSubmitResponse" type="tns:batchAccountFileSubmitRsp_CType"/>
  <xs:complexType name="batchAccountFileSubmitReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:batchAccountFileSubmitRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchAccountFileSubmitRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:batchAccountFileSubmitResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eleaBnkPayFeeCancle" type="tns:eleaBnkPayFeeCancleReq_CType"/>
  <xs:element name="eleaBnkPayFeeCancleResponse" type="tns:eleaBnkPayFeeCancleRsp_CType"/>
  <xs:complexType name="eleaBnkPayFeeCancleReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:eleaBnkPayFeeCancleRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eleaBnkPayFeeCancleRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:eleaBnkPayFeeCancleResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bnkcheckFileToEle" type="tns:bnkcheckFileToEleReq_CType"/>
  <xs:element name="bnkcheckFileToEleResponse" type="tns:bnkcheckFileToEleRsp_CType"/>
  <xs:complexType name="bnkcheckFileToEleReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:bnkcheckFileToEleRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bnkcheckFileToEleRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:bnkcheckFileToEleResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="batchAccountFilePre" type="tns:batchAccountFilePreReq_CType"/>
  <xs:element name="batchAccountFilePreResponse" type="tns:batchAccountFilePreRsp_CType"/>
  <xs:complexType name="batchAccountFilePreReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:batchAccountFilePreRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchAccountFilePreRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:batchAccountFilePreResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eleaBnkPayFee" type="tns:eleaBnkPayFeeReq_CType"/>
  <xs:element name="eleaBnkPayFeeResponse" type="tns:eleaBnkPayFeeRsp_CType"/>
  <xs:complexType name="eleaBnkPayFeeReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:eleaBnkPayFeeRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eleaBnkPayFeeRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:eleaBnkPayFeeResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eleaQryUsrPayInfo" type="tns:eleaQryUsrPayInfoReq_CType"/>
  <xs:element name="eleaQryUsrPayInfoResponse" type="tns:eleaQryUsrPayInfoRsp_CType"/>
  <xs:complexType name="eleaQryUsrPayInfoReq_CType">
    <xs:sequence>
      <xs:element ref="gsp:requestInformation"/>
      <xs:element name="request" type="tns:eleaQryUsrPayInfoRequest_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eleaQryUsrPayInfoRsp_CType">
    <xs:sequence>
      <xs:element ref="gsp:replyInformation"/>
      <xs:element name="response" type="tns:eleaQryUsrPayInfoResponse_CType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestHeader" type="tns:requestHeader_CType"/>
  <xs:element name="responseHeader" type="tns:responseHeader_CType"/>
  <xs:element name="sortingInfo" type="tns:sortingInfo_CType"/>
  <xs:element name="pageableRequest" type="tns:pageableRequest_CType"/>
  <xs:element name="pageableResponse" type="tns:pageableResponse_CType"/>
  <xs:element name="customerAccountInfo" type="tns:customerAccountInfo_CType"/>
  <xs:element name="terminalInfo" type="tns:terminalInfo_CType"/>
  <xs:element name="queryRspDisplayList" type="tns:queryRspDisplayList_CType"/>
  <xs:element name="flePreInf" type="tns:flePreInf_CType"/>
  <xs:complexType name="requestHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipRequestHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader_CType">
    <xs:sequence>
      <xs:element ref="bbip:bbipResponseHead"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="property_SType">
    <xs:annotation>
      <xs:documentation>排序数据域</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="direction_SType">
    <xs:annotation>
      <xs:documentation>排序方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sortingInfo_CType">
    <xs:sequence>
      <xs:element name="property" type="tns:property_SType"/>
      <xs:element name="direction" type="tns:direction_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="pageNum_SType">
    <xs:annotation>
      <xs:documentation>页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="pageSize_SType">
    <xs:annotation>
      <xs:documentation>每页显示数据数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:complexType name="pageableRequest_CType">
    <xs:sequence>
      <xs:element name="pageNum" type="tns:pageNum_SType"/>
      <xs:element name="pageSize" type="tns:pageSize_SType"/>
      <xs:element ref="tns:sortingInfo" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="totalElements_SType">
    <xs:annotation>
      <xs:documentation>总记录数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:simpleType name="totalPages_SType">
    <xs:annotation>
      <xs:documentation>总页数</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:complexType name="pageableResponse_CType">
    <xs:sequence>
      <xs:element name="totalElements" type="tns:totalElements_SType"/>
      <xs:element name="totalPages" type="tns:totalPages_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="acTyp_SType">
    <xs:annotation>
      <xs:documentation>账户类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusAc_SType">
    <xs:annotation>
      <xs:documentation>客户账号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cusNme_SType">
    <xs:annotation>
      <xs:documentation>账号户名</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="acSeq_SType">
    <xs:annotation>
      <xs:documentation>账号序号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="acoAc_SType">
    <xs:annotation>
      <xs:documentation>记账账号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="24"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ccy_SType">
    <xs:annotation>
      <xs:documentation>币种</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ctfFlg_SType">
    <xs:annotation>
      <xs:documentation>钞汇标志</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bvCde_SType">
    <xs:annotation>
      <xs:documentation>凭证代码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bvNo_SType">
    <xs:annotation>
      <xs:documentation>凭证号码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="iseDte_SType">
    <xs:annotation>
      <xs:documentation>签发日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pswCekFlg_SType">
    <xs:annotation>
      <xs:documentation>密码校验标志</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="payPsw_SType">
    <xs:annotation>
      <xs:documentation>支付密码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pin_SType">
    <xs:annotation>
      <xs:documentation>PIN</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="carVld_SType">
    <xs:annotation>
      <xs:documentation>卡有效期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trk2_SType">
    <xs:annotation>
      <xs:documentation>磁道2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trk3_SType">
    <xs:annotation>
      <xs:documentation>磁道3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="104"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="carSeq_SType">
    <xs:annotation>
      <xs:documentation>卡序号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fld55ActLen_SType">
    <xs:annotation>
      <xs:documentation>55域实际长度</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="fld55_SType">
    <xs:annotation>
      <xs:documentation>55域</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="504"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="obkBk_SType">
    <xs:annotation>
      <xs:documentation>支付系统开户行行号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dbtAgrNo_SType">
    <xs:annotation>
      <xs:documentation>借记多方协议号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="infExtFld_SType">
    <xs:annotation>
      <xs:documentation>账户信息扩展字段</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="customerAccountInfo_CType">
    <xs:sequence>
      <xs:element name="acTyp" type="tns:acTyp_SType" minOccurs="0"/>
      <xs:element name="cusAc" type="tns:cusAc_SType"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="acSeq" type="tns:acSeq_SType" minOccurs="0"/>
      <xs:element name="acoAc" type="tns:acoAc_SType" minOccurs="0"/>
      <xs:element name="ccy" type="tns:ccy_SType"/>
      <xs:element name="ctfFlg" type="tns:ctfFlg_SType" minOccurs="0"/>
      <xs:element name="bvCde" type="tns:bvCde_SType" minOccurs="0"/>
      <xs:element name="bvNo" type="tns:bvNo_SType" minOccurs="0"/>
      <xs:element name="iseDte" type="tns:iseDte_SType" minOccurs="0"/>
      <xs:element name="pswCekFlg" type="tns:pswCekFlg_SType" minOccurs="0"/>
      <xs:element name="payPsw" type="tns:payPsw_SType" minOccurs="0"/>
      <xs:element name="pin" type="tns:pin_SType" minOccurs="0"/>
      <xs:element name="carVld" type="tns:carVld_SType" minOccurs="0"/>
      <xs:element name="trk2" type="tns:trk2_SType" minOccurs="0"/>
      <xs:element name="trk3" type="tns:trk3_SType" minOccurs="0"/>
      <xs:element name="carSeq" type="tns:carSeq_SType" minOccurs="0"/>
      <xs:element name="fld55ActLen" type="tns:fld55ActLen_SType" minOccurs="0"/>
      <xs:element name="fld55" type="tns:fld55_SType" minOccurs="0"/>
      <xs:element name="obkBk" type="tns:obkBk_SType" minOccurs="0"/>
      <xs:element name="dbtAgrNo" type="tns:dbtAgrNo_SType" minOccurs="0"/>
      <xs:element name="infExtFld" type="tns:infExtFld_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="svcEntModCod_SType">
    <xs:annotation>
      <xs:documentation>服务点输入方式码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="posTml_SType">
    <xs:annotation>
      <xs:documentation>受卡机终端标识码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="posSpl_SType">
    <xs:annotation>
      <xs:documentation>受卡方标识码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="accAdr_SType">
    <xs:annotation>
      <xs:documentation>受卡方名称地址</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="48"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="icFlag_SType">
    <xs:annotation>
      <xs:documentation>终端读取能力</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="terminalInfo_CType">
    <xs:sequence>
      <xs:element name="svcEntModCod" type="tns:svcEntModCod_SType"/>
      <xs:element name="posTml" type="tns:posTml_SType"/>
      <xs:element name="posSpl" type="tns:posSpl_SType"/>
      <xs:element name="accAdr" type="tns:accAdr_SType"/>
      <xs:element name="icFlag" type="tns:icFlag_SType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="detailName_SType">
    <xs:annotation>
      <xs:documentation>明细名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="detailContent_SType">
    <xs:annotation>
      <xs:documentation>明细内容</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="queryRspDisplayList_CType">
    <xs:sequence>
      <xs:element name="detailName" type="tns:detailName_SType" minOccurs="0"/>
      <xs:element name="detailContent" type="tns:detailContent_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="txnAmt_SType">
    <xs:annotation>
      <xs:documentation>交易金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="agtSrvCusId_SType">
    <xs:annotation>
      <xs:documentation>服务客户标识</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="agtSrvCusNme_SType">
    <xs:annotation>
      <xs:documentation>服务客户姓名</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ourOthFlg_SType">
    <xs:annotation>
      <xs:documentation>其他说明</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rmk1_SType">
    <xs:annotation>
      <xs:documentation>备注1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rmk2_SType">
    <xs:annotation>
      <xs:documentation>备注2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="flePreInf_CType">
    <xs:sequence>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="txnAmt" type="tns:txnAmt_SType" minOccurs="0"/>
      <xs:element name="agtSrvCusId" type="tns:agtSrvCusId_SType" minOccurs="0"/>
      <xs:element name="agtSrvCusNme" type="tns:agtSrvCusNme_SType" minOccurs="0"/>
      <xs:element name="ourOthFlg" type="tns:ourOthFlg_SType" minOccurs="0"/>
      <xs:element name="obkBk" type="tns:obkBk_SType" minOccurs="0"/>
      <xs:element name="rmk1" type="tns:rmk1_SType" minOccurs="0"/>
      <xs:element name="rmk2" type="tns:rmk2_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchAccountFileSubmitRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="comNo" type="tns:comNo_SType"/>
      <xs:element name="txnMde" type="tns:txnMde_SType"/>
      <xs:element ref="tns:flePreInf" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchAccountFileSubmitResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="batchNo" type="tns:batchNo_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eupsBusTyp_SType">
    <xs:annotation>
      <xs:documentation>EUPS业务类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="comNo_SType">
    <xs:annotation>
      <xs:documentation>单位编号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="txnMde_SType">
    <xs:annotation>
      <xs:documentation>批扣方式</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="batchNo_SType">
    <xs:annotation>
      <xs:documentation>批次号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="eleaBnkPayFeeCancleRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="oldTxnSqn" type="tns:oldTxnSqn_SType"/>
      <xs:element name="dptTyp" type="tns:dptTyp_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eleaBnkPayFeeCancleResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="thdSqn" type="tns:thdSqn_SType" minOccurs="0"/>
      <xs:element name="eleClrDte" type="tns:eleClrDte_SType" minOccurs="0"/>
      <xs:element name="txnAmt" type="tns:txnAmt_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="oldTxnSqn_SType">
    <xs:annotation>
      <xs:documentation>原流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dptTyp_SType">
    <xs:annotation>
      <xs:documentation>配型部类型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="thdSqn_SType">
    <xs:annotation>
      <xs:documentation>第三方流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eleClrDte_SType">
    <xs:annotation>
      <xs:documentation>供电公司清算日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="bnkcheckFileToEleRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="clrDat" type="tns:clrDat_SType"/>
      <xs:element name="dptTyp" type="tns:dptTyp_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bnkcheckFileToEleResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="responseMessage" type="tns:responseMessage_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="clrDat_SType">
    <xs:annotation>
      <xs:documentation>对账日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="responseMessage_SType">
    <xs:annotation>
      <xs:documentation>返回信息</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="batchAccountFilePreRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="filNam" type="tns:filNam_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="batchAccountFilePreResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="comNo" type="tns:comNo_SType" minOccurs="0"/>
      <xs:element name="txnMde" type="tns:txnMde_SType" minOccurs="0"/>
      <xs:element ref="tns:flePreInf" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="filNam_SType">
    <xs:annotation>
      <xs:documentation>文件名称</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="eleaBnkPayFeeRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="thdCusNo" type="tns:thdCusNo_SType"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="lChkTm" type="tns:lChkTm_SType" minOccurs="0"/>
      <xs:element name="dptTyp" type="tns:dptTyp_SType" minOccurs="0"/>
      <xs:element name="txnAmt" type="tns:txnAmt_SType"/>
      <xs:element name="fee" type="tns:fee_SType" minOccurs="0"/>
      <xs:element name="vchTyp" type="tns:vchTyp_SType" minOccurs="0"/>
      <xs:element name="vchNo" type="tns:vchNo_SType" minOccurs="0"/>
      <xs:element name="bilDte" type="tns:bilDte_SType" minOccurs="0"/>
      <xs:element name="password" type="tns:password_SType" minOccurs="0"/>
      <xs:element name="oldTxnSqn" type="tns:oldTxnSqn_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eleaBnkPayFeeResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="thdSqn" type="tns:thdSqn_SType" minOccurs="0"/>
      <xs:element name="sqn" type="tns:sqn_SType" minOccurs="0"/>
      <xs:element name="eleClrDte" type="tns:eleClrDte_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="thdCusNo_SType">
    <xs:annotation>
      <xs:documentation>第三方客户标识</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lChkTm_SType">
    <xs:annotation>
      <xs:documentation>电费月份</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fee_SType">
    <xs:annotation>
      <xs:documentation>手续费</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="vchTyp_SType">
    <xs:annotation>
      <xs:documentation>结算凭证</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vchNo_SType">
    <xs:annotation>
      <xs:documentation>凭证号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bilDte_SType">
    <xs:annotation>
      <xs:documentation>凭证日期</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="password_SType">
    <xs:annotation>
      <xs:documentation>密码</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sqn_SType">
    <xs:annotation>
      <xs:documentation>交易流水号</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="eleaQryUsrPayInfoRequest_CType">
    <xs:sequence>
      <xs:element ref="tns:requestHeader"/>
      <xs:element name="eupsBusTyp" type="tns:eupsBusTyp_SType"/>
      <xs:element name="cusAc" type="tns:cusAc_SType" minOccurs="0"/>
      <xs:element name="thdCusNo" type="tns:thdCusNo_SType"/>
      <xs:element name="lChkTm" type="tns:lChkTm_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eleaQryUsrPayInfoResponse_CType">
    <xs:sequence>
      <xs:element ref="tns:responseHeader" minOccurs="0"/>
      <xs:element name="oweFeeAmt" type="tns:oweFeeAmt_SType" minOccurs="0"/>
      <xs:element name="chkTim" type="tns:chkTim_SType" minOccurs="0"/>
      <xs:element name="dptTyp" type="tns:dptTyp_SType" minOccurs="0"/>
      <xs:element name="cusNme" type="tns:cusNme_SType" minOccurs="0"/>
      <xs:element name="thdCusAdr" type="tns:thdCusAdr_SType" minOccurs="0"/>
      <xs:element name="sqn" type="tns:sqn_SType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="oweFeeAmt_SType">
    <xs:annotation>
      <xs:documentation>应缴金额</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="chkTim_SType">
    <xs:annotation>
      <xs:documentation>交易日期时间</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="thdCusAdr_SType">
    <xs:annotation>
      <xs:documentation>用电地址</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
