src/config/webservice/wsdl/GDEUPSNrmSignStationTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignStationTestService" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignStationTestService/Schema" name="GDEUPSNrmSignStationTestService" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignStationTestService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignStationTestService">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignStationTestService/Schema" schemaLocation="GDEUPSNrmSignStationTestService.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="agtValidCheckRequestMessage">
    <wsdl:part name="agtValidCheckRequest" element="gdeupsb:agtValidCheck"/>
  </wsdl:message>
  <wsdl:message name="agtListCrpInfRequestMessage">
    <wsdl:part name="agtListCrpInfRequest" element="gdeupsb:agtListCrpInf"/>
  </wsdl:message>
  <wsdl:message name="agtListCrpInfResponseMessage">
    <wsdl:part name="agtListCrpInfResponse" element="gdeupsb:agtListCrpInfResponse"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPSNrmSignStationTestServicePortType">
    <wsdl:operation name="agtValidCheck">
      <wsdl:input message="tns:agtValidCheckRequestMessage"/>
    </wsdl:operation>
    <wsdl:operation name="agtListCrpInf">
      <wsdl:documentation/>
      <wsdl:input message="tns:agtListCrpInfRequestMessage"/>
      <wsdl:output message="tns:agtListCrpInfResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPSNrmSignStationTestServiceSoapBinding" type="tns:GDEUPSNrmSignStationTestServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="agtValidCheck">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignStationTestService/agtValidCheck"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="agtListCrpInf">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignStationTestService/agtListCrpInf"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPSNrmSignStationTestService">
    <wsdl:port name="GDEUPSNrmSignStationTestServicePort" binding="tns:GDEUPSNrmSignStationTestServiceSoapBinding">
      <soap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
