src/config/webservice/wsdl/GDEUPSELEC02Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/Schema" name="GDEUPSELEC02Service" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/Schema" schemaLocation="GDEUPSELEC02Service.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryJournalOffChanRequestMessage">
    <wsdl:part name="queryJournalOffChanRequest" element="gdeupsb:queryJournalOffChan"/>
  </wsdl:message>
  <wsdl:message name="queryJournalOffChanResponseMessage">
    <wsdl:part name="queryJournalOffChanResponse" element="gdeupsb:queryJournalOffChanResponse"/>
  </wsdl:message>
  <wsdl:message name="agentChangeRequestMessage">
    <wsdl:part name="agentChangeRequest" element="gdeupsb:agentChange"/>
  </wsdl:message>
  <wsdl:message name="agentChangeResponseMessage">
    <wsdl:part name="agentChangeResponse" element="gdeupsb:agentChangeResponse"/>
  </wsdl:message>
  <wsdl:message name="queryAgtInfoRequestMessage">
    <wsdl:part name="queryAgtInfoRequest" element="gdeupsb:queryAgtInfo"/>
  </wsdl:message>
  <wsdl:message name="queryAgtInfoResponseMessage">
    <wsdl:part name="queryAgtInfoResponse" element="gdeupsb:queryAgtInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="modifyStatusRequestMessage">
    <wsdl:part name="modifyStatusRequest" element="gdeupsb:modifyStatus"/>
  </wsdl:message>
  <wsdl:message name="modifyStatusResponseMessage">
    <wsdl:part name="modifyStatusResponse" element="gdeupsb:modifyStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="queryStatusRequestMessage">
    <wsdl:part name="queryStatusRequest" element="gdeupsb:queryStatus"/>
  </wsdl:message>
  <wsdl:message name="queryStatusResponseMessage">
    <wsdl:part name="queryStatusResponse" element="gdeupsb:queryStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="payFeeOffChanRequestMessage">
    <wsdl:part name="payFeeOffChanRequest" element="gdeupsb:payFeeOffChan"/>
  </wsdl:message>
  <wsdl:message name="payFeeOffChanResponseMessage">
    <wsdl:part name="payFeeOffChanResponse" element="gdeupsb:payFeeOffChanResponse"/>
  </wsdl:message>
  <wsdl:message name="printCompanyBackRequestMessage">
    <wsdl:part name="printCompanyBackRequest" element="gdeupsb:printCompanyBack"/>
  </wsdl:message>
  <wsdl:message name="printCompanyBackResponseMessage">
    <wsdl:part name="printCompanyBackResponse" element="gdeupsb:printCompanyBackResponse"/>
  </wsdl:message>
  <wsdl:message name="queryCheckInfoRequestMessage">
    <wsdl:part name="queryCheckInfoRequest" element="gdeupsb:queryCheckInfo"/>
  </wsdl:message>
  <wsdl:message name="queryCheckInfoResponseMessage">
    <wsdl:part name="queryCheckInfoResponse" element="gdeupsb:queryCheckInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="payCancelOffChanRequestMessage">
    <wsdl:part name="payCancelOffChanRequest" element="gdeupsb:payCancelOffChan"/>
  </wsdl:message>
  <wsdl:message name="payCancelOffChanResponseMessage">
    <wsdl:part name="payCancelOffChanResponse" element="gdeupsb:payCancelOffChanResponse"/>
  </wsdl:message>
  <wsdl:message name="queryThirdFeeOffChanRequestMessage">
    <wsdl:part name="queryThirdFeeOffChanRequest" element="gdeupsb:queryThirdFeeOffChan"/>
  </wsdl:message>
  <wsdl:message name="queryThirdFeeOffChanResponseMessage">
    <wsdl:part name="queryThirdFeeOffChanResponse" element="gdeupsb:queryThirdFeeOffChanResponse"/>
  </wsdl:message>
  <wsdl:message name="checkInBankRequestMessage">
    <wsdl:part name="checkInBankRequest" element="gdeupsb:checkInBank"/>
  </wsdl:message>
  <wsdl:message name="checkInBankResponseMessage">
    <wsdl:part name="checkInBankResponse" element="gdeupsb:checkInBankResponse"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPSELEC02ServicePortType">
    <wsdl:operation name="queryJournalOffChan">
      <wsdl:documentation/>
      <wsdl:input message="tns:queryJournalOffChanRequestMessage"/>
      <wsdl:output message="tns:queryJournalOffChanResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="agentChange">
      <wsdl:documentation/>
      <wsdl:input message="tns:agentChangeRequestMessage"/>
      <wsdl:output message="tns:agentChangeResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="queryAgtInfo">
      <wsdl:documentation/>
      <wsdl:input message="tns:queryAgtInfoRequestMessage"/>
      <wsdl:output message="tns:queryAgtInfoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="modifyStatus">
      <wsdl:documentation/>
      <wsdl:input message="tns:modifyStatusRequestMessage"/>
      <wsdl:output message="tns:modifyStatusResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="queryStatus">
      <wsdl:documentation/>
      <wsdl:input message="tns:queryStatusRequestMessage"/>
      <wsdl:output message="tns:queryStatusResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="payFeeOffChan">
      <wsdl:documentation/>
      <wsdl:input message="tns:payFeeOffChanRequestMessage"/>
      <wsdl:output message="tns:payFeeOffChanResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="printCompanyBack">
      <wsdl:documentation/>
      <wsdl:input message="tns:printCompanyBackRequestMessage"/>
      <wsdl:output message="tns:printCompanyBackResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="queryCheckInfo">
      <wsdl:documentation/>
      <wsdl:input message="tns:queryCheckInfoRequestMessage"/>
      <wsdl:output message="tns:queryCheckInfoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="payCancelOffChan">
      <wsdl:documentation/>
      <wsdl:input message="tns:payCancelOffChanRequestMessage"/>
      <wsdl:output message="tns:payCancelOffChanResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="queryThirdFeeOffChan">
      <wsdl:documentation/>
      <wsdl:input message="tns:queryThirdFeeOffChanRequestMessage"/>
      <wsdl:output message="tns:queryThirdFeeOffChanResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="checkInBank">
      <wsdl:documentation/>
      <wsdl:input message="tns:checkInBankRequestMessage"/>
      <wsdl:output message="tns:checkInBankResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPSELEC02ServiceSoapBinding" type="tns:GDEUPSELEC02ServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryJournalOffChan">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/queryJournalOffChan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agentChange">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/agentChange"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAgtInfo">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/queryAgtInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyStatus">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/modifyStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryStatus">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/queryStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payFeeOffChan">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/payFeeOffChan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printCompanyBack">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/printCompanyBack"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryCheckInfo">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/queryCheckInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payCancelOffChan">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/payCancelOffChan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryThirdFeeOffChan">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/queryThirdFeeOffChan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkInBank">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSELEC02Service/checkInBank"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPSELEC02Service">
    <wsdl:port name="GDEUPSELEC02ServicePort" binding="tns:GDEUPSELEC02ServiceSoapBinding">
      <soap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
