src/config/webservice/wsdl/GDEUPSNrmSignService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService" xmlns:gdeupsb="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/Schema" name="GDEUPSNrmSignService" targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService">
      <xsd:import namespace="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/Schema" schemaLocation="GDEUPSNrmSignService.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="agentUpdateRequestMessage">
    <wsdl:part name="agentUpdateRequest" element="gdeupsb:agentUpdate"/>
  </wsdl:message>
  <wsdl:message name="agentUpdateResponseMessage">
    <wsdl:part name="agentUpdateResponse" element="gdeupsb:agentUpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="agentBatchOperateRequestMessage">
    <wsdl:part name="agentBatchOperateRequest" element="gdeupsb:agentBatchOperate"/>
  </wsdl:message>
  <wsdl:message name="agentBatchOperateResponseMessage">
    <wsdl:part name="agentBatchOperateResponse" element="gdeupsb:agentBatchOperateResponse"/>
  </wsdl:message>
  <wsdl:message name="agentFileSendRequestMessage">
    <wsdl:part name="agentFileSendRequest" element="gdeupsb:agentFileSend"/>
  </wsdl:message>
  <wsdl:message name="agentFileSendResponseMessage">
    <wsdl:part name="agentFileSendResponse" element="gdeupsb:agentFileSendResponse"/>
  </wsdl:message>
  <wsdl:message name="agentScanPrintRequestMessage">
    <wsdl:part name="agentScanPrintRequest" element="gdeupsb:agentScanPrint"/>
  </wsdl:message>
  <wsdl:message name="agentScanPrintResponseMessage">
    <wsdl:part name="agentScanPrintResponse" element="gdeupsb:agentScanPrintResponse"/>
  </wsdl:message>
  <wsdl:message name="agentFleSndUnSureDelRequestMessage">
    <wsdl:part name="agentFleSndUnSureDelRequest" element="gdeupsb:agentFleSndUnSureDel"/>
  </wsdl:message>
  <wsdl:message name="agentFleSndUnSureDelResponseMessage">
    <wsdl:part name="agentFleSndUnSureDelResponse" element="gdeupsb:agentFleSndUnSureDelResponse"/>
  </wsdl:message>
  <wsdl:message name="actInfoQryRequestMessage">
    <wsdl:part name="actInfoQryRequest" element="gdeupsb:actInfoQry"/>
  </wsdl:message>
  <wsdl:message name="actInfoQryResponseMessage">
    <wsdl:part name="actInfoQryResponse" element="gdeupsb:actInfoQryResponse"/>
  </wsdl:message>
  <wsdl:message name="agtBatchFileInputRequestMessage">
    <wsdl:part name="agtBatchFileInputRequest" element="gdeupsb:agtBatchFileInput"/>
  </wsdl:message>
  <wsdl:message name="agtBatchFileInputResponseMessage">
    <wsdl:part name="agtBatchFileInputResponse" element="gdeupsb:agtBatchFileInputResponse"/>
  </wsdl:message>
  <wsdl:message name="agtListCrpInfRequestMessage">
    <wsdl:part name="agtListCrpInfRequest" element="gdeupsb:agtListCrpInf"/>
  </wsdl:message>
  <wsdl:message name="agtListCrpInfResponseMessage">
    <wsdl:part name="agtListCrpInfResponse" element="gdeupsb:agtListCrpInfResponse"/>
  </wsdl:message>
  <wsdl:portType name="GDEUPSNrmSignServicePortType">
    <wsdl:operation name="agentUpdate">
      <wsdl:documentation/>
      <wsdl:input message="tns:agentUpdateRequestMessage"/>
      <wsdl:output message="tns:agentUpdateResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="agentBatchOperate">
      <wsdl:documentation/>
      <wsdl:input message="tns:agentBatchOperateRequestMessage"/>
      <wsdl:output message="tns:agentBatchOperateResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="agentFileSend">
      <wsdl:documentation/>
      <wsdl:input message="tns:agentFileSendRequestMessage"/>
      <wsdl:output message="tns:agentFileSendResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="agentScanPrint">
      <wsdl:documentation/>
      <wsdl:input message="tns:agentScanPrintRequestMessage"/>
      <wsdl:output message="tns:agentScanPrintResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="agentFleSndUnSureDel">
      <wsdl:documentation/>
      <wsdl:input message="tns:agentFleSndUnSureDelRequestMessage"/>
      <wsdl:output message="tns:agentFleSndUnSureDelResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="actInfoQry">
      <wsdl:documentation/>
      <wsdl:input message="tns:actInfoQryRequestMessage"/>
      <wsdl:output message="tns:actInfoQryResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="agtBatchFileInput">
      <wsdl:documentation/>
      <wsdl:input message="tns:agtBatchFileInputRequestMessage"/>
      <wsdl:output message="tns:agtBatchFileInputResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="agtListCrpInf">
      <wsdl:documentation/>
      <wsdl:input message="tns:agtListCrpInfRequestMessage"/>
      <wsdl:output message="tns:agtListCrpInfResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GDEUPSNrmSignServiceSoapBinding" type="tns:GDEUPSNrmSignServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="agentUpdate">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/agentUpdate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agentBatchOperate">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/agentBatchOperate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agentFileSend">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/agentFileSend"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agentScanPrint">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/agentScanPrint"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agentFleSndUnSureDel">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/agentFleSndUnSureDel"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actInfoQry">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/actInfoQry"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agtBatchFileInput">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/agtBatchFileInput"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agtListCrpInf">
      <soap:operation soapAction="http://gdeupsb.service.bankcomm.com/basic/atomic/operation.GDEUPSNrmSignService/agtListCrpInf"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GDEUPSNrmSignService">
    <wsdl:port name="GDEUPSNrmSignServicePort" binding="tns:GDEUPSNrmSignServiceSoapBinding">
      <soap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
